:root {
	--font-family: "Manrope";
	--font-color: #fff;
	--font-weight: 600;
	--font-weight-bold: 900;
	--font-size: 12pt;
	--line-height: 24px;

	--background-color: #3a363e;
	--background-color-darker: #232125;
	--header-color: #232125ee;

	--border-color: rgba(255, 255, 255, 0.2);
	--border-separator: linear-gradient(90deg, transparent 8px, var(--border-color) 10%, var(--border-color) 90%, transparent calc(100% - 8px));
	--primary-color: #cbadff;
	--primary-color-desat: #e5d6ff;

	--header-height: 60px;

	--button-font-size: 10pt;
	--button-padding: 16px;
	--button-default-color: var(--background-color);
	--button-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
	--button-gradient-active: linear-gradient(to top, rgba(255, 255, 255, 0.1), transparent);
	--button-active-translate: 2px;
	--button-shadow: drop-shadow(0px 1px 2px #000);

	--input-height: 22px;
	--input-padding: 8px;
	--input-bg-color: var(--background-color-darker);
	--input-color: var(--font-color);
	--input-border-radius: 6px;
	--input-font: "Manrope";
	--input-font-size: 12pt;
	--input-weight: 600;
	--input-shadow: 0px 0px 4px inset #000;
	--input-border-color: rgba(255, 255, 255, 0.4);

	--global-spacing: 18px;
	--global-spacing-half: calc(var(--global-spacing) / 2);
	--global-spacing-small: calc(var(--global-spacing) / 6);
	--setting-spacing: 12px;
	--setting-spacing-half: calc(var(--setting-spacing) / 2);
	--setting-spacing-small: calc(var(--setting-spacing) / 6);

	--name-font: "Manrope";
	--name-size: 16pt;
	--name-weight: 900;
	--name-weight-extra: 1.2px;
	--name-font-style: normal;
	--name-variant: normal;
	--name-gradient-direction: 170deg;
	--name-gradient-x-pos: 50%;
	--name-gradient-y-pos: 50%;
	--name-transform: uppercase;
	--name-letter-spacing: 1px;
	--name-color: unset;
	--name-color-0-percentage: 0%; /* just in case */
	--name-color-1: #ffffff;
	--name-color-1-percentage: 0%;
	--name-color-2: #cbadff;
	--name-color-2-percentage: 75%;
	--name-color-3: #ffffff;
	--name-color-3-percentage: 100%;
	--name-color-4: #ffffff;
	--name-color-4-percentage: 100%;
	--name-color-5: #ffffff;
	--name-color-5-percentage: 100%;
	--name-color-6: #ffffff;
	--name-color-6-percentage: 100%;
	--name-color-7: #ffffff;
	--name-color-7-percentage: 100%;
	--name-color-8: #ffffff;
	--name-color-8-percentage: 100%;
	--name-color-9: #ffffff;
	--name-color-9-percentage: 100%;
	--name-gradient: linear-gradient(var(--name-gradient-direction), var(--name-color-1) var(--name-color-1-percentage), var(--name-color-2) var(--name-color-2-percentage));
	--name-perspective-shift-amount: 0;
	--name-perspective-shift: matrix3d(1, 0, 0, 0, 0, 1, 0, calc(var(--name-perspective-shift-amount) / 10000), 0, 0, 1, 0, 0, 0, 0, 1);
	--name-skew-amount: 0deg;
	--name-skew: skewX(var(--name-skew-amount));
	--name-effects: none;
	--name-glow-effect-color: #ffffffff;
	--name-glow-effect-blur: 3px;
	--name-glow-effect-actual: drop-shadow(0px 0px var(--name-glow-effect-blur) var(--name-glow-effect-color));
	--name-glow-effect: opacity(1);
	--name-filters: url(#outlineEffect) url(#shadowEffect) var(--name-glow-effect);

	--message-font: "Manrope";
	--message-size: 14pt;
	--message-weight: 700;
	--message-weight-extra: 0px;
	--message-letter-spacing: 0px;
	--message-filters: url(#outlineEffect) url(#shadowEffect);
	--message-bold-weight-extra: 1.2px;
	--message-line-height: 24px;
	--message-variant: normal;

	--avatar-border-radius: 50%;

	--footer-height: 48px;

	--warning-color: #fe4;
	--error-color: #f45;
	--info-color: #49f;
	--success-color: #4a8;
}

@keyframes speen {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#filterWrapper {
	position: fixed;
	left: -1000px;
	top: -1000px;
}

* {
	user-select: none;
	-webkit-touch-callout: none;
}

body {
	font-family: "Manrope";
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--font-color);
	background-color: var(--background-color);
}

p {
	margin-bottom: var(--global-spacing);
}
p:last-child {
	margin-bottom: 0px;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

strong {
	font-weight: 900;
}
em {
	font-style: italic;
}

#header {
	height: var(--header-height);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-image: linear-gradient(to top, #000 -33%, var(--header-color) 20%);
	border-bottom: 1px solid;
	border-image: var(--border-separator) 1;
	backdrop-filter: blur(5px);
}

#header .cellImportant, .footer .cellImportant {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	line-height: 0px;
	margin-left: var(--global-spacing);
	margin-right: var(--global-spacing);
}
#header .cellImportant:first-of-type {
	-webkit-mask-image: linear-gradient(to right, #ffffffff 80%, #00000000 100%);
	height: 2em;
	text-wrap: nowrap;
	overflow-x: clip;
	flex-grow: 1;
}

#accountStuff {
	/* temporary fix */
	position: fixed;
	right: 0px;
	background-color: #000;
	padding: var(--input-padding);
	border-radius: var(--input-border-radius);
	border: 1px solid var(--border-color);
}

h1 {
	font-size: calc(var(--font-size) * 1.33);
	font-weight: var(--font-weight-bold);
	text-overflow: clip;
}

.button {
	display: flex;
	cursor: default;
	
	padding-left: var(--button-padding);
	padding-right: var(--button-padding);
	padding-top: calc(var(--button-padding) / 2);
	padding-bottom: calc(var(--button-padding) / 2);

	font-weight: var(--font-weight-bold);
	font-size: var(--button-font-size);

	text-align: center;
	align-items: center;
	text-wrap: nowrap;

	border-radius: var(--input-border-radius);
	border: 1px solid var(--input-border-color);

	background-color: var(--button-default-color);
	background-image: var(--button-gradient);

	filter: var(--button-shadow);
	text-shadow: 0px -1px 0px #00000060;
}
.button:hover {
	filter: brightness(115%) var(--button-shadow);
}
.button:active {
	background-image: var(--button-gradient-active);
	transform: translateY(var(--button-active-translate));
	filter: none;
}

.fa-fw {
	line-height: 0px;
}
.button .fa-fw {
	font-size: 1.25em;
	margin-right: 4px;
}

#wrapper {
	position: relative;
	top: var(--header-height);

	display: flex;
	flex-direction: column;

	padding: var(--global-spacing);
	min-width: calc(650px - var(--global-spacing));
}

#wrapper .cell {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid;
	border-image: var(--border-separator) 1;
	margin-bottom: calc(var(--global-spacing) * 4);
	padding-bottom: var(--global-spacing);
}

hr {
	background-image: var(--border-separator);
	height: 1px;
	width: 100%;
	border: none;

	margin: 0;
	margin-bottom: var(--global-spacing);
	margin-top: var(--global-spacing);
}
.cell hr {
	margin-bottom: var(--global-spacing);
	margin-top: var(--global-spacing);	
}

#wrapper h1 {
	border-bottom: 1px solid;
	border-image: linear-gradient(90deg, transparent 8px, var(--primary-color) 10%, var(--primary-color) 90%, transparent calc(100% - 8px)) 1;
	margin-bottom: var(--global-spacing);
	padding-bottom: var(--global-spacing-half);
	background-image: radial-gradient(ellipse at 50% 100%, var(--primary-color) -40%, transparent 70%);
	color: var(--primary-color-desat);
	width: 100%;
	height: 24px;
	position: sticky;
	top: calc(var(--header-height) + var(--global-spacing));
	z-index: 98;
	text-align: center;
}

.preview {
	position: sticky;
	top: calc(var(--header-height) + var(--global-spacing) + 32px);
	z-index: 99;
	width: calc(100% - (var(--setting-spacing) * 2) - 2px);

	background-image: linear-gradient(to bottom, #ffffff50, #ffffff20);
	backdrop-filter: blur(5px);
	box-shadow: 0px 10px 12px -8px #000;
	border: 1px solid var(--primary-color);
	border-radius: var(--input-border-radius);

	padding-left: var(--setting-spacing);
	padding-right: var(--setting-spacing);
	padding-top: var(--setting-spacing-small);
	padding-bottom: var(--setting-spacing-small);

	margin-top: var(--setting-spacing);
	margin-bottom: var(--setting-spacing);
}

#namePreview {
	padding-top: var(--global-spacing);
	padding-bottom: var(--global-spacing);
}

#namePreviewValue {
	display: inline-block;
	padding: 4px;

	font-family: var(--name-font);
	font-size: var(--name-size);
	font-weight: var(--name-weight);
	font-style: var(--name-font-style);
	font-variant: var(--name-variant);

	-webkit-text-stroke: var(--name-weight-extra) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: var(--name-color);
	background-image: var(--name-gradient);

	text-transform: var(--name-transform);
	letter-spacing: var(--name-letter-spacing);

	filter: var(--name-filters);
	transform: var(--name-effects);
}

#messagePreview {
	display: inline-block;
	padding-top: var(--global-spacing);
	padding-bottom: var(--global-spacing);

	font-family: var(--message-font);
	font-size: var(--message-size);
	font-weight: var(--message-weight);
	font-variant: var(--message-variant);

	-webkit-text-stroke: var(--message-weight-extra) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #fff;

	letter-spacing: var(--message-letter-spacing);
	line-height: var(--message-line-height);

	filter: var(--message-filters);
}

#messagePreview strong {
	font-weight: var(--message-weight);
	-webkit-text-stroke: var(--message-bold-weight-extra) transparent;
}

.settings {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.setting {
	display: flex;
	width: 650px;
	align-items: center;
	margin-top: var(--global-spacing-small);
	margin-bottom: var(--global-spacing-small);
}
.settingColumn {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.fullWidth {
	width: 100%;
}
.fullWidth .setting {
	width: 100%;
}
.fullWidth .settingValue {
	flex-grow: unset;
}

.settingLabel, .settingValue {
	display: inline-block;
}
.settingLabel {
	text-align: right;
	border-right: 2px solid var(--border-color);
	padding-right: var(--setting-spacing);
	width: 33%;
	font-weight: 900;
}
.settingValue {
	text-align: left;
	padding-left: var(--setting-spacing);
	width: 67%;
	display: flex;
	align-items: center;
}

input, select, textarea {
	min-height: var(--input-height);
	margin: 0px;
	padding: 0px;
	padding-top: calc(var(--input-padding) / 2);
	padding-bottom: calc(var(--input-padding) / 2);
	padding-left: var(--input-padding);
	padding-right: var(--input-padding);
	background-color: var(--input-bg-color);
	color: var(--font-color);
	font-family: var(--input-font);
	font-size: var(--input-font-size);
	font-weight: var(--input-weight);
	border-radius: var(--input-border-radius);
	border: 1px solid var(--border-color);
	vertical-align: middle;
	box-shadow: var(--input-shadow);
	margin-right: 6px;
	font-variant: tabular-nums;
}

input[type="checkbox"] {
	width: var(--input-height);
	height: var(--input-height);
	min-width: var(--input-height);
	vertical-align: middle;
	margin-right: var(--setting-spacing);
	padding: 0px;
	font-family: "Font Awesome 6 Free";
	color: #000;
	text-align: center;
	line-height: var(--input-height);
	appearance: none;
	border: none;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: var(--input-border-radius);
	border: 1px solid var(--border-color);
}
input[type="checkbox"]:checked:before {
	border: 1px solid var(--input-border-color);
}

input[type="checkbox"]:before {
	content: "";
	background: var(--input-bg-color);
	box-shadow: var(--input-shadow);
}

input[type="checkbox"]:checked:before {
	content: "\f00c";
	background-color: var(--primary-color);
	background-image: var(--checkbox-gradient);
	box-shadow: none;
}

input[data-coloris] {
	width: 100px;
}
input[data-enable-alpha] {
	width: 120px;
}
.clr-field button {
	border-radius: var(--input-border-radius);
	width: 22px;
	height: 22px;
	margin-right: 6px;
	/*background: transparent;*/
}
.clr-dark {
	background-color: var(--background-color-darker);
}
.clr-dark input.clr-color {
	background-color: #000;
	border-color: var(--border-color);
}
.clr-picker.clr-polaroid {
	box-shadow: 0px 2px 8px #000;
}
.clr-picker.clr-polaroid.clr-dark:before {
	color: var(--background-color-darker);
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
	outline: 3px solid var(--primary-color);
	border: 1px solid transparent;
}

textarea {
	height: calc(var(--input-height) * 5);
}

.settingValue input[type="range"] {
	appearance: none;
	outline: none;
	padding: 0;
	width: calc(100% - 100px  - 140px);
	box-shadow: none;
	margin-left: var(--global-spacing);
	margin-right: var(--global-spacing);
	background-image: linear-gradient(var(--sidebar-active-row-bg-color), var(--sidebar-active-row-bg-color));
	background-repeat: no-repeat;
	height: calc(var(--input-height) / 2);
}
.settingValue input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	height: calc(var(--input-height) / 1.33);
	width: calc(var(--input-height) / 1.33);
	background-color: #fff;
	border-radius: 100%;
}
.settingValue input[type="range"]::-webkit-slider-runnable-track {
	appearance: none;
	height: var(--input-height);
	position: relative;
	top: -10%;
}
.rangeValue {
	vertical-align: middle;
	line-height: 1em;
	width: 40px;
	text-align: right;
	display: inline-block;
}
.settingCellMeasurement {
	vertical-align: middle;
	line-height: 1em;
}
::selection {
	background: var(--primary-color);
	color: #000;
}
.settingInfo {
	vertical-align: middle;
}

select option {
	padding: 0px;
}

#signedInUser {
	display: flex;
	align-items: center;
}
#signedInUser_avatar, #signedInUser_avatarOutline {
	border-radius: 50%;
}
#signedInUser_avatar {
	height: 1.75em;
	width: 1.75em;
	background-image: var(--user-avatar);
	background-size: contain;
	background-repeat: no-repeat;
}
#signedInUser_avatarOutline {
	position: fixed;
	z-index: 101;
	height: calc(1.75em - 2px);
	width: calc(1.75em - 2px);
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#signedInUser_name {
	font-weight: 900;
	margin-left: var(--global-spacing-half);
}

.settingValueSection {
	margin-left: var(--global-spacing);
	display: inline-flex;
	align-items: center;
}

.settingSingle {
	min-height: calc(var(--input-height) + var(--input-padding));
	display: flex;
}

#identityFlags {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.flag {
	display: flex;
	align-items: center;
	cursor: default;
	height: var(--input-height);

	padding-left: var(--input-padding);
	padding-right: calc(var(--input-padding) + 2px);
	padding-top: calc(var(--input-padding) / 3);
	padding-bottom: calc(var(--input-padding) / 3);

	margin: calc(var(--input-padding) * 1.5);

	background-color: var(--input-bg-color);
	border: 1px solid transparent;
	border-left: 0px;
	border-radius: var(--input-border-radius);
	box-shadow: var(--input-shadow);
	opacity: 0.5;
	color: #ffffffd0;
	filter: saturate(50%) brightness(90%);

	font-size: 12pt;
}

.flagActive {
	opacity: 1;
	border: 1px solid var(--primary-color);
	border-left: 0px;
	outline: 1px solid var(--primary-color);
	filter: opacity(1);
}

.flagIconContainer {
	width: calc(var(--input-height) + var(--input-padding) + 6px);
	height: calc(var(--input-height) + var(--input-padding) + 6px);

	position: relative;
	left: calc(-1 * var(--input-padding) - 3px);
}

.flagIcon, .flagOutline {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	border-radius: var(--input-border-radius);
}

.flagIcon {
	width: calc(var(--input-height) + var(--input-padding) + 6px);
	height: calc(var(--input-height) + var(--input-padding) + 6px);

	position: relative;
	z-index: 2;
	left: 1px;
	top: 1px;
}

.flagOutline {
	width: calc(var(--input-height) + var(--input-padding) + 8px);
	height: calc(var(--input-height) + var(--input-padding) + 8px);

	position: absolute;
	z-index: 1;

	filter: contrast(33%) saturate(200%) brightness(125%);
}

.flagActive .flagName {
	background-color: #fff;
	-webkit-text-stroke: 0.6px transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.flagActive .flagIconContainer {
	box-shadow: 0px 5px 7px -2px #000;
}

#avatarPreview {
	width: 7.5em;
	height: 7.5em;

	background-color: #000;
	background-image: var(--user-avatar);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: var(--avatar-border-radius);
}

.forceOutline {
	filter: url(#outlineEffect) url(#shadowEffect);
}

.footer {
	position: sticky;
	height: var(--footer-height);
	width: 100%;
	bottom: var(--global-spacing);
	z-index: 99;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: var(--global-spacing);

	background-color: var(--header-color);
	border: 1px solid var(--border-color);
	border-radius: var(--input-border-radius);

	box-shadow: var(--input-shadow);
	backdrop-filter: blur(5px);
}

.footer .button {
	margin-left: var(--global-spacing-half);
	margin-right: var(--global-spacing-half);
}

#signInButton { background-color: #9146FF; }
.saveButton { background-color: #209060; }
.discardButton { background-color: #c01020; }

#loader {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	justify-items: center;

	background-color: #000000b0;
	backdrop-filter: blur(8px);
}

#spinner {
	width: 100px;
	padding-bottom: 100px;

	border-radius: 100%;
	border: 20px solid #ffffff30;
	border-bottom: 20px solid #fff;
	box-shadow: 0px 0px 12px #000, 0px 0px 12px inset #000;

	animation-name: speen;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

#notifications {
	position: fixed;
	left: var(--global-spacing);
	width: calc(100vw - (var(--global-spacing) * 2));
	bottom: calc((var(--global-spacing) * 2) + var(--footer-height));
	z-index: 99;

	display: flex;
	flex-direction: column;
}

.notification {
	margin-top: var(--global-spacing-half);
	padding-top: var(--global-spacing-half);
	padding-bottom: var(--global-spacing-half);
	padding-left: var(--global-spacing);
	padding-right: var(--global-spacing);

	border-radius: var(--input-border-radius);

	background-color: #000000b0;
	color: #fff;
	border: 1px solid;

	box-shadow: 0px 4px 8px -4px #000;
	backdrop-filter: blur(8px);

	font-size: var(--button-font-size);

	display: flex;
	width: max-content;
	align-items: center;
}

.notification .fa-fw {
	font-size: var(--input-font-size);
	margin-right: 4px;
}

.warningNotif { border-color: var(--warning-color); }
.warningNotif .fa-fw { color: var(--warning-color); }

.errorNotif { border-color: var(--error-color); }
.errorNotif .fa-fw { color: var(--error-color); }

.infoNotif { border-color: var(--info-color); }
.infoNotif .fa-fw { color: var(--info-color); }

.successNotif { border-color: var(--success-color); }
.successNotif .fa-fw { color: var(--success-color); }

@media only screen and (max-width: 685px) {
	#wrapper {
		min-width: unset;
		width: unset;
	}

	.settings {
		justify-content: left;
	}

	.setting {
		width: 100%;
		flex-direction: column;
		align-items: start;
		margin-top: var(--setting-spacing);
		margin-bottom: var(--setting-spacing);
	}

	.settingLabel {
		border: 0px;
		padding-left: 2px; /* wtf */
		padding-right: 0px;
		width: 100%;
		text-align: left;
		margin-bottom: 4px;
		color: var(--primary-color-desat);
		text-shadow: 0px 1px 2px #000;
	}

	.settingValue {
		padding-left: 0px;
		width: 100%;
		flex-wrap: wrap;
	}

	.settingCellMeasurement:last-of-type {
		margin-right: var(--global-spacing);
	}

	.settingValueSection {
		margin-left: 0px;
	}

	.footer {
		bottom: var(--global-spacing-half);
	}

	.footer .button {
		font-size: 9pt;
		flex-grow: 1;
		justify-content: center;
	}

	.footer .cellImportant {
		width: 100%;
	}

	#notifications {
		bottom: calc(var(--global-spacing) + var(--footer-height));
	}
	.notification {
		margin-top: var(--global-spacing-small);
		padding-top: var(--global-spacing-small);
		padding-bottom: var(--global-spacing-small);
		padding-left: var(--global-spacing-half);
		padding-right: var(--global-spacing-half);
	}
}