:root {
	--corner-radius: 16px;
	--font-size: 12pt;
	--font-size-smol: 9pt;
	--font-weight: 700;
	--font-weight-bold: calc(var(--font-weight) + 200);
	--font-color: #fff;
	--font-family: "Manrope";

	--border-color: rgba(255, 255, 255, 0.2);
	--border-color-bright: var(--sidebar-row-text-color);

	--sidebar-row-height: 34px;
	--sidebar-padding: 12px;
	--sidebar-row-text-color: #cbadff;
	--sidebar-width: 210px;
	--sidebar-bg-color: #232125;
	--sidebar-icon-margin: 8px;
	--sidebar-icon-width: 1.2em;
	--sidebar-hover-bg-color: #272727;
	--sidebar-hr-margin: 6px;
	--sidebar-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.7);
	--sidebar-gradient: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
	--sidebar-border-color: rgba(255, 255, 255, 0.1);
	--sidebar-hr-gradient: linear-gradient(to right, transparent 10%, rgba(255, 255, 255, 0.67), transparent 90%);

	--sidebar-active-row-text-color: #000;
	--sidebar-active-row-bg-color: var(--sidebar-row-text-color);
	--sidebar-active-row-bg-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.67) 0%, transparent 75%);

	--wrapper-padding: 24px;

	--settings-width: 570px;
	--settings-bg-color: #3a363e;
	--settings-height: 750px;
	--settings-padding: 16px;
	--settings-text-line-height: 22px;
	--settings-header-color: #e0cdff;

	--settings-part-spacing: 48px;
	--settings-part-head-font-size: calc(var(--font-size) * 1.4);
	--settings-part-subhead-font-size: calc(var(--font-size) * 1.2);

	--input-height: 22px;
	--input-padding: 8px;
	--input-bg-color: #28242c;
	--input-color: var(--font-color);
	--input-border-radius: 6px;
	--input-font: monospace;
	--input-weight: 700;
	--input-shadow: 0px 0px 6px inset rgba(0, 0, 0, 0.4);

	--checkbox-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);

	--button-font-size: 10pt;
	--button-padding: 16px;
	--button-default-color: #35303a;
	--button-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
	--button-gradient-active: linear-gradient(to top, rgba(255, 255, 255, 0.1), transparent);
	--button-active-translate: 2px;
	--button-shadow: drop-shadow(0px 1px 2px #000);

	--status-circle-size: 14px;
	--status-circle-gray-color: #555;
	--status-circle-green-color: #6f4;
	--status-circle-red-color: #f44;
	--status-circle-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);

	--fsb-border: 1px solid var(--border-color);
	--fsb-radius: var(--input-border-radius);
	--fsb-color: var(--input-color);
	--fsb-background: var(--input-bg-color);
	--fsb-font-size: var(--font-size);
	--fsb-shadow: none;
	--fsb-padding: var(--input-padding);
	--fsb-arrow-padding: .67em;
	--fsb-arrow-size: .5em;
	--fsb-arrow-color: var(--input-color);
	--fsb-icon-color: var(--input-color);
	--fsb-list-height: 250px;
	--fsb-list-border: var(--fsb-border);
	--fsb-list-radius: var(--input-border-radius);
	--fsb-list-color: var(--input-color);
	--fsb-list-background: var(--input-bg-color);
	--fsb-hover-color: var(--sidebar-active-row-text-color);
	--fsb-hover-background: var(--sidebar-active-row-bg-color);

	--scrollbar-width: 10px;
	--scrollbar-track: #000;

	--notif-color-success: #209060a0;
	--notif-color-fail: #c01020a0;
	--notif-color-normal: #000000c0;
	--notif-color-warning: #ffee33a0;

	--header-shadow: drop-shadow(0px 1px 2px #000);
}
::-webkit-scrollbar { width: var(--scrollbar-width); }
::-webkit-scrollbar-track { background-color: var(--scrollbar-track); }
::-webkit-scrollbar-thumb { background-color: var(--sidebar-active-row-bg-color); background-image: var(--button-gradient); }

@font-face {
	font-family: "Manrope";
	font-weight: 100;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 200;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 300;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 400;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 500;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 600;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 700;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 800;
	src: url("fonts/Manrope.ttf");
}
@font-face {
	font-family: "Manrope";
	font-weight: 900;
	src: url("fonts/Manrope.ttf");
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--font-color);
	background-color: #191919;
	font-weight: var(--font-weight);
}

#sidebar {
    display: flex;
    flex-direction: column;
	background-color: var(--sidebar-bg-color);
	background-image: var(--sidebar-gradient);
	width: var(--sidebar-width);
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100vh;
	box-shadow: var(--sidebar-shadow);
	z-index: 4;
	overflow-y: auto;
}

#sidebar .row {
	color: var(--sidebar-row-text-color);
	font-weight: var(--font-weight);
	line-height: var(--sidebar-row-height);
	height: var(--sidebar-row-height);
	padding-left: var(--sidebar-padding);
}

.row .fas, .row .fab {
	margin-right: var(--sidebar-icon-margin);
	width: var(--sidebar-icon-width);
	text-align: center;
}

.icon {
	height: var(--sidebar-icon-width);
	width: var(--sidebar-icon-width);
	margin-right: var(--sidebar-icon-margin);
	vertical-align: middle;
	position: relative;
	top: -2px;
	display: inline-block;
}

#sidebar .icon {
	background-color: var(--sidebar-row-text-color);
	mask-type: luminance;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
}

h1 .icon {
	background-color: var(--settings-header-color);
	mask-type: luminance;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	height: 1em;
}

.sevtv { -webkit-mask-image: url("icons/7tv-icon.png"); }
.bttv { -webkit-mask-image: url("icons/bttv-icon.png"); }
.ffz { -webkit-mask-image: url("icons/ffz-icon.png"); }

#sidebar .row:hover { 
	background-color: var(--sidebar-hover-bg-color);
	filter: brightness(150%);
}
#sidebar .active:hover { filter: none; }

.active {
	color: var(--sidebar-active-row-text-color) !important;
	background-color: var(--sidebar-active-row-bg-color) !important;
	background-image: var(--sidebar-active-row-bg-gradient) !important;
}

.section {
	display: none;
}

.active .icon {
	background-color: var(--sidebar-active-row-text-color) !important;
}

#settings, #sensitive {
	background-color: var(--settings-bg-color);
	width: calc(100vw - var(--sidebar-width));
	height: 100vh;
	position: fixed;
	left: var(--sidebar-width);
	top: 0px;
	overflow-y: auto;
}
#settings {
	z-index: 1;
}

.section {
	margin: var(--wrapper-padding);
	min-width: -webkit-fill-available;
	width: fit-content;
}

.part {
	margin-bottom: var(--settings-part-spacing);
	border-bottom: 1px solid var(--border-color);
	width: 100%;
}

.part h1 {
	font-size: var(--settings-part-head-font-size);
	border-bottom: 1px solid var(--border-color-bright);
	margin-bottom: var(--settings-padding);
	padding-bottom: var(--settings-padding);
	font-weight: var(--font-weight-bold);
	background-image:  linear-gradient(to top, var(--border-color-bright) -30px, transparent 8px);
	color: var(--settings-header-color);
	filter: var(--header-shadow);
}

.part h2 {
	color: var(--settings-header-color);
	font-size: var(--settings-part-subhead-font-size);
	filter: var(--header-shadow);
}
.part h2 em {
	opacity: 0.5;
	font-size: var(--font-size);
}

.setting {
	display: flex;
	margin-bottom: var(--settings-padding);
	white-space: nowrap;
	align-items: center;
}

.disabled {
	opacity: 0.2;
	/*
	display: none;
	*/
}

.settingCellLabel {
	text-align: right;
	margin-right: calc(var(--settings-padding) / 1.5);
	padding-right: calc(var(--settings-padding) / 1.5);
	width: calc(350px - var(--settings-padding));
	border-right: 1px solid var(--border-color);
	line-height: var(--input-height);
	height: var(--input-height);
}
.settingCell {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.settingVerticalSection {
	margin-bottom: var(--settings-padding);
}
.settingVerticalSection:last-child {
	margin-bottom: 0px;
}

.settingInfo {
	line-height: 1em;
}

input, select, textarea {
	height: var(--input-height);
	margin: 0px;
	padding: 0px;
	padding-top: calc(var(--input-padding) / 2);
	padding-bottom: calc(var(--input-padding) / 2);
	padding-left: var(--input-padding);
	padding-right: var(--input-padding);
	background-color: var(--input-bg-color);
	color: var(--font-color);
	font-family: var(--input-font);
	font-size: var(--font-size);
	font-weight: var(--input-weight);
	border-radius: var(--input-border-radius);
	border: 1px solid var(--border-color);
	vertical-align: middle;
	box-shadow: var(--input-shadow);
	margin-right: 6px;
}

input[type="checkbox"] {
	width: var(--input-height);
	height: var(--input-height);
	vertical-align: middle;
	margin-right: calc(var(--settings-padding) / 1.5);
	padding: 0px;
	font-family: "Font Awesome 5 Free";
	color: var(--sidebar-active-row-text-color);
	text-align: center;
	line-height: var(--input-height);
	appearance: none;
	border: none;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: var(--input-border-radius);
	border: 1px solid var(--border-color);
}

input[type="checkbox"]:before {
	content: "";
	background: var(--input-bg-color);
	box-shadow: var(--input-shadow);
}

input[type="checkbox"]:checked:before {
	content: "\f00c";
	background-color: var(--sidebar-active-row-bg-color);
	background-image: var(--checkbox-gradient);
	box-shadow: none;
}

input[data-coloris] {
	width: 120px;
	text-align: left !important;
	margin-left: 38px;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
	outline: 1px solid var(--sidebar-active-row-bg-color);
}

textarea {
	height: calc(var(--input-height) * 5);
}

#sensitive {
	display: flex;
	background-color: #09080a;
	line-height: 1.5em;
	font-size: 16pt;
	z-index: 2;
}

#sensitive .section {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

#sensitive .part {
	margin-bottom: 0px;
	border-bottom: none;
	text-align: center;
}

.button {
	display: inline-block;
	padding-left: var(--button-padding);
	padding-right: var(--button-padding);
	text-align: center;
	padding-top: calc(var(--button-padding) / 2);
	padding-bottom: calc(var(--button-padding) / 2);
	background-color: var(--button-default-color);
	border-radius: var(--input-border-radius);
	font-weight: var(--font-weight-bold);
	border: 1px solid var(--border-color);
	background-image: var(--button-gradient);
	cursor: default;
	filter: var(--button-shadow);
}

#hideSensitiveWarning {
	margin-top: var(--settings-part-spacing);
	background-color: #209060;
	font-size: 16pt;
}

.fa-exclamation-triangle {
	background-image: linear-gradient(to bottom, #fe8, #c90);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#sensitive .fa-exclamation-triangle {
	font-size: 72pt;
	margin-bottom: var(--settings-part-spacing);
}

.smol {
	font-size: var(--font-size-smol);
	text-align: center;
	text-wrap: wrap;
	line-height: 1.1em;
	display: block;
}

a {
	color: var(--sidebar-active-row-bg-color);
	font-style: normal;
	text-decoration: none;	
}

#sideButtons {
	margin-top: var(--sidebar-padding);
    width: -webkit-fill-available;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    justify-content: end;
}
.button {
	font-size: var(--button-font-size);
}
#sideButtons .button {
	margin-top: calc(var(--sidebar-padding) / 2);
	margin-bottom: calc(var(--sidebar-padding) / 2);
	margin-left: var(--sidebar-padding);
	margin-right: var(--sidebar-padding);
}
#resetOverlayButton, #deleteBackupButton {
	background-color: #c01020;
}

.button:hover {
	filter: brightness(115%) var(--button-shadow);
}
.button:active {
	background-image: var(--button-gradient-active);
	transform: translateY(var(--button-active-translate));
	filter: none;
}

#settings hr {
	border: none;
	padding-bottom: var(--settings-padding);
	margin-bottom: 0px;
	border-top: 1px solid var(--border-color);
}
#sidebar hr {
	border: none;
	margin-top: var(--sidebar-hr-margin);
	margin-bottom: var(--sidebar-hr-margin);
	height: 1px;
	background-image: var(--sidebar-hr-gradient);
	width: 100%;
}

.clr-field {
	margin-right: calc(var(--settings-padding) / 2);
}
.clr-field button {
	border-radius: var(--input-border-radius);
	border: 1px solid #fff;
}

.fsb-select button {
	height: 2em !important;
	font-weight: var(--input-weight);
}

tt {
	font-family: monospace;
	font-weight: 500;
}

.settingOnlyText {
	line-height: var(--settings-text-line-height);
	white-space: normal;
	display: block;
}

.part p {
	margin-bottom: var(--settings-padding);
}
.part p:last-child {
	margin-bottom: 0px;
}

strong {
	background-color: var(--font-color);
	-webkit-text-stroke: 0.67px transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.clr-picker {
	box-shadow: none !important;
	filter: var(--button-shadow);
}
.clr-picker.clr-polaroid.clr-dark:before {
    color: var(--input-bg-color) !important;
    z-index: 999 !important;
}
.clr-picker.clr-polaroid:before {
	filter: none !important;
}
.clr-dark {
	background-color: var(--input-bg-color) !important;
}
.clr-dark input.clr-color:focus {
	border-color: var(--sidebar-active-row-bg-color) !important;
}
.clr-dark input.clr-color {
	background-color: #000 !important;
}

::-webkit-resizer {
	background: var(--input-bg-color);
	color: var(--sidebar-active-row-bg-color);
	border-bottom: 4px dotted var(--sidebar-active-row-bg-color);
	border-right: 4px dotted var(--sidebar-active-row-bg-color);
}

.fa-long-arrow-alt-right {
	font-size: 24pt;
    height: 0px;
    line-height: 0px;
    vertical-align: middle;
    margin-left: 14px;
    margin-right: 14px;
    color: var(--sidebar-active-row-bg-color);
}

#sidebar .row:first-child {
	margin-top: var(--sidebar-hr-margin);
}

#versionStuff {
	border-top: 1px solid var(--border-color);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
	padding-top: var(--sidebar-padding);
	padding-bottom: var(--sidebar-padding);
	background-color: var(--button-default-color);
	background-image: var(--button-gradient);
	color: #000;
	width: 100%;
	font-size: 12pt;
	line-height: 1.2em;
	font-weight: 900;
	margin-top: calc(var(--sidebar-padding) / 2);
}

.forceColumn {
	flex-direction: column;
	align-items: unset;
}

.forceColumn div {
	margin-bottom: 2px;
}
.forceColumn div:last-child {
	margin-bottom: 0px;
}

input[type="range"] {
	appearance: none;
	outline: none;
	padding: 0;
	width: 200px;
	background-image: linear-gradient(var(--sidebar-active-row-bg-color), var(--sidebar-active-row-bg-color));
	background-repeat: no-repeat;
	height: calc(var(--input-height) / 2);
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	height: var(--input-height);
	width: var(--input-height);
	background-color: #fff;
	border-radius: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
	appearance: none;
	height: var(--input-height);
	position: relative;
	top: -25%;
}

.smol {
	line-height: 20px;
}

.statusCircle {
	height: var(--status-circle-size);
	width: var(--status-circle-size);
	border-radius: 100%;
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: row;
	background-image: var(--status-circle-gradient);
}
.grayCircle {
	background-color: var(--status-circle-gray-color);
}
.redCircle {
	background-color: var(--status-circle-red-color);
	filter: drop-shadow(0px 0px 3px var(--status-circle-red-color));
}
.greenCircle {
	background-color: var(--status-circle-green-color);
	filter: drop-shadow(0px 0px 3px var(--status-circle-green-color));
}

.statusMessage {
	display: flex;
	flex-direction: row;
	align-self: center;
	font-weight: 500;
	margin-left: calc(var(--status-circle-size) / 2);
}
.grayMessage { color: var(--status-circle-gray-color); }
.greenMessage { color: var(--status-circle-green-color); }
.redMessage { color: var(--status-circle-red-color); }

#selectedBackupWrap {
	margin-right: calc(var(--settings-padding) / 1.5);
	padding-right: calc(var(--settings-padding) / 1.5);
	border-right: 1px solid var(--border-color);
}

.settingCell .button {
	margin-right: calc(var(--settings-padding) / 2);
}
.settingCell .button:last-child {
	margin-right: 0px;
}

#generateBackupButton, #exportNonCriticalSettingsButton {
	background-color: #209060;
}
#exportAllSettingsButton {
	background-color: #609020;
}

.button i {
	margin-right: 4px;
}

#settingImportArea {
	flex-grow: 1;
	height: calc(var(--input-height) * 10);
}

#notificationWrapper {
	position: fixed;
	left: var(--sidebar-width);
	bottom: 0;
	width: calc(100vw - var(--sidebar-width) - var(--scrollbar-width));
	display: flex;
	z-index: 3;
	flex-direction: column;
}
#notificationWrapper .notif {
	display: flex;
	flex-direction: row;
	line-height: var(--settings-text-line-height);
	padding: var(--input-padding);
	padding-left: calc(var(--input-padding) * 1.5);
	padding-right: calc(var(--input-padding) * 1.5);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(8px);
}
.notifMessage {
	flex-grow: 1;
}
.notifClose {
	padding-left: calc(var(--input-padding) * 1.5);
	text-align: right;
}

.centerSetting {
	justify-content: center;
}

#connectSpotifyButton {
	background-color: #1DB954;
}

ol li, .part h2 {
	margin-bottom: 12px;
}

ol li:before {
	content: "• ";
	color: var(--settings-header-color);
}

ol li ol {
	margin-left: 0.5em;
	padding-left: 1em;
	margin-top: 4px;
	border-left: 3px solid var(--border-color);
	font-weight: 500;
	opacity: 0.67;
	font-size: var(--font-size-smol);
	line-height: 1.4em;
}

ol li ol li:before {
	content: "";
}

.newUpdates {
	font-size: var(--font-size-smol);
	opacity: 0.67;
}