{
	"http": {
		"ip": "127.0.0.1",
		"port": 8080
	},

	"tts": {
		"cpu_threads": 1,
		"model": "https://models.silero.ai/models/tts/en/v3_en.pt",
		"model_saveAs": "model.pt",
		"sample_rate": 48000,
		"message_voice": 111,
		"name_voice": 20
	},

	"smallPauseSymbols": [","],
	"pauseSymbols": [".", "!", "?"],
	"silenceSymbols": [",", "'", ".", "!", "?"]
}