@font-face { font-family: "Sarabun"; src: url('Sarabun-Thin.ttf'); font-weight: 100; font-style: normal; }
@font-face { font-family: "Sarabun"; src: url('Sarabun-ExtraLight.ttf'); font-weight: 200; font-style: normal; }
@font-face { font-family: "Sarabun"; src: url('Sarabun-Light.ttf'); font-weight: 300; font-style: normal; }
@font-face { font-family: "Sarabun"; src: url('Sarabun-Regular.ttf'); font-weight: 400; font-style: normal; }
@font-face { font-family: "Sarabun"; src: url('Sarabun-Medium.ttf'); font-weight: 500; font-style: normal; }
@font-face { font-family: "Sarabun"; src: url('Sarabun-SemiBold.ttf'); font-weight: 600; font-style: normal; }
@font-face { font-family: "Sarabun"; src: url('Sarabun-Bold.ttf'); font-weight: 700; font-style: normal; }
@font-face { font-family: "Sarabun"; src: url('Sarabun-ExtraBold.ttf'); font-weight: 800; font-style: normal; }