body {
	font-family: "Manrope";
	font-weight: 900;
	color: white;
}

#timezone, #clock, #seconds {
	position: absolute;
	filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(1px -1px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(-1px -1px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(-1px 1px 0px rgba(0, 0, 0, 0.5))
			drop-shadow(0px 2px 2px #000);
}
#clock, #seconds {
	font-variant-numeric: tabular-nums;
	letter-spacing: -0.02em;
}

#timezone {
	left: 10px;
	top: 8px;
	font-size: 20pt;
	color: #A695FF;
	width: 241px;
	display: block;
	text-align: center;
}

#clock {
	font-size: 48pt;
	top: 38px;
	left: 10px;
}

#seconds {
	font-size: 32pt;
	top: 58px;
	left: 188px;
}
#seconds:before {
	content: ":";
}