@keyframes userInfoInKF {
	0% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0px);
	}
}
@keyframes justFadeInKF {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes slideInBottom_BlurKF {
	0% {
		opacity: 0;
		transform: scale(0.9) translateY(50px);
		filter: brightness(2.0) contrast(115%) blur(5px);
	}

	100% {
		opacity: 1;
		transform: scale(1.0) translateY(0px);
	}
}
@keyframes slideOutBottom_BlurKF {
	0% {
		opacity: 1;
		transform: scale(1.0) translateY(0px);
	}
	100% {
		opacity: 0;
		transform: scale(0.9) translateY(-100px);
		filter: blur(5px);
	}
}

@keyframes slideInBottomKF {
	0% {
		opacity: 0;
		transform: scale(0.9) translateY(50px);
	}

	100% {
		opacity: 1;
		transform: scale(1.0) translateY(0px);
	}
}
@keyframes slideOutBottomKF {
	0% {
		opacity: 1;
		transform: scale(1.0) translateY(0px);
	}
	100% {
		opacity: 0;
		transform: scale(0.9) translateY(-100px);
	}
}

@keyframes fadeInKF {
	from { opacity: 0; }
	to { opacity: 1; }	
}

@keyframes fadeOutKF {
	from { opacity: 1; }
	to { opacity: 0; }	
}

@keyframes slideInLeftKF {
	0% {
		opacity: 0;
		transform: translateX(-100vw);
	}

	100% {
		opacity: 1;
		transform: translateX(0vw);
	}
}

@keyframes slideOutLeftKF {
	0% {
		opacity: 1;
		transform: translateX(0vw);
	}

	100% {
		opacity: 0;
		transform: translateX(-100vw);
	}
}

@keyframes slideInRightKF {
	0% {
		opacity: 0;
		transform: translateX(100vw);
	}

	100% {
		opacity: 1;
		transform: translateX(0vw);
	}
}

@keyframes slideOutRightKF {
	0% {
		opacity: 1;
		transform: translateX(0vw);
	}

	100% {
		opacity: 0;
		transform: translateX(100vw);
	}
}

@keyframes zoomInKF {
	0% {
		opacity: 0;
		transform: scale(0.0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale(1.0);
	}
}

@keyframes zoomOutKF {
	0% {
		opacity: 1;
		transform: scale(1.0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(0.0);
	}
}

@keyframes rotateInKF {
	0% {
		opacity: 0;
		transform: rotate(45deg);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes rotateOutKF {
	0% {
		opacity: 1;
		transform: rotate(0deg);
	}
	100% {
		opacity: 0;
		transform: rotate(-45deg);
	}
}

@keyframes floatOutKF {
	0% {
		opacity: 1;
		transform: scale(1.0) translateY(0px) translateX(0vw) rotate(0deg);
		filter: grayscale(0%) brightness(100%) blur(0px);
	}
	100% {
		opacity: 0;
		transform: scale(0.5) translateY(-50vw) translateX(10vw) rotate(30deg);
		filter: grayscale(100%) brightness(80%) blur(16px);
	}
}

@keyframes blurInKF {
	0% {
		opacity: 0;
		filter: blur(16px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes blurOutKF {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		filter: blur(16px);
	}
}

@keyframes magnifyInKF {
	0% {
		opacity: 0;
		transform: scale(1.33);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale(1.0);
	}
}

@keyframes magnifyOutKF {
	0% {
		opacity: 1;
		transform: scale(1.0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(1.33);
	}
}

@keyframes shearInKF {
	0% {
		opacity: 0;
		transform: translateX(-100vw) skew(-20deg, 0deg);
	}
	50% {
		opacity: 1;
		transform: skew(-20deg, 0deg);
	}
	100% {
		opacity: 1;
		transform: translateX(0vw) skew(0deg, 0deg);
	}
}

@keyframes shearOutKF {
	0% {
		opacity: 1;
		transform: translateX(0vw) skew(0deg, 0deg);
	}
	50% {
		opacity: 1;
		transform: skew(20deg, 0deg);
	}
	100% {
		opacity: 0;
		transform: translateX(-100vw) skew(20deg, 0deg);
	}
}

@keyframes bounceInKF {
	0% {
		opacity: 0;
		transform: scale(0) translateY(0px);
	}
	50% {
		opacity: 1;
		transform: scale(1, 0.7) translateY(-35px);
	}
	75% {
		opacity: 1;
		transform: scale(1) translateY(0px);
	}
	87.5% {
		transform: scale(1, 0.9) translateY(5px);
	}
	100% {
		transform: scale(1) translateY(0px);
	}
}

@keyframes squishInKF {
	0% {
		opacity: 0;
		transform: scale(1, 0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes squishOutKF {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1, 0);
	}
}

.slideIn {
	animation-name: var(--animationsInName);
	animation-duration: var(--animationsInDuration);
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: var(--animationsInTimingFunc);
	transform-origin: var(--animationsInOriginPoint);
}
.slideOut {
	animation-name: var(--animationsOutName);
	animation-duration: var(--animationsOutDuration);
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: var(--animationsOutTimingFunc);
	transform-origin: var(--animationsOutOriginPoint);
}
.userInfoIn {
	animation-name: userInfoInKF;
	animation-duration: var(--animationsInDuration);
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
.justFadeIn {
	animation-name: justFadeInKF;
	animation-duration: var(--animationsInDuration);
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}