body {
	font-family: "Manrope";
	font-weight: 900;
	color: #fff;
	background: #333;
	font-size: 16pt;
	overflow: hidden;
}

#wrapper {
	position: fixed;
	min-width: 500px;
}

.chatBlock {
	margin: var(--chatBlockPadding);
	border-radius: var(--chatBlockBorderRadius);
	margin-top: 20px;
	background-color: var(--backgroundColor);
	border: var(--chatBlockOutline);
	padding-left: var(--chatBlockIndividualPadding);
	padding-right: var(--chatBlockIndividualPadding);
	padding-top: calc(var(--chatBlockIndividualPadding) / 2);
	padding-bottom: calc(var(--chatBlockIndividualPadding) / 2);
}
.badges, .pronouns, .message, .pfp, .flags, .bsrArt, .bsrMapInfo, .bsrExtraInfo, .loadingMsg, .fa-spinner, .fa-times {
	filter: var(--effectFilters);
}

.userInfo {
	margin-bottom: 4px;
}
.userInfo div {
	display: inline-block;
	margin-right: var(--messageUserInfoElementSpacing);
}
.userInfo div:last-child {
	margin-right: 0px;
}

.chatBlock:first-child .userInfo {
	display: block !important;
}

.badges, .flags {
	vertical-align: middle;
}
.badges img {
	width: var(--badgeSize);
	height: var(--badgeSize);
	margin-right: var(--badgeSpacing);
	border-radius: var(--badgeBorderRadius);
}

.badges img:last-child, .flags img:last-child {
	margin-right: 0px;
}

.flag {
	width: 22px;
	height: 22px;
	background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-right: 2px;
}

.name {
	font-family: var(--nameFont);
	font-weight: var(--nameFontWeight);
	font-size: var(--nameFontSize);
	-webkit-text-stroke: var(--nameFontWeightExtra) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	padding-right: 4px;
	height: 34px;
	line-height: 34px;
}

.pronouns {
	font-weight: 900;
	text-transform: uppercase;
	-webkit-text-stroke: 0.5px transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 12pt;
	vertical-align: middle;
	background-image: linear-gradient(170deg, rgb(255, 255, 255) -20%, rgb(128,128,128) 100%);
}

.emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.3em;
}
.emote img {
	opacity: 0;
	display: inline-block;
	height: 1em;
}

.message {
	word-wrap: break-word;
	line-height: var(--messageLineHeight);
	color: var(--messageColor);
	font-family: var(--messageFont);
	font-weight: var(--messageFontWeight);
	font-size: var(--messageFontSize);
}

.actionMessage {
	font-style: italic;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

em {
	font-style: italic;
	padding-right: 4px;
}
strong {
	background-color: #fff;
	-webkit-text-stroke: 1.2px transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
pre {
	display: inline;
}
tt, code, pre {
	background-color: rgba(0, 0, 0, 0.33);
	font-family: monospace;
	font-size: 14pt;
	padding: 3px;
}

.pfp {
	width: var(--avatarSize);
    margin-right: 10px;
    vertical-align: middle;
    border-radius: var(--avatarBorderRadius);
}

.highlighted {
	background: var(--highlightBackgroundColor);
	padding: 14px;
	border-left: 8px solid var(--highlightBorderColor);
	border-radius: 8px;
	box-shadow: 0px 6px 4px -4px #000;
}

.bsrInfo {
	word-wrap: break-word;
	line-height: 26px;
	margin-top: 12px;
	white-space: nowrap;
	margin-bottom: 12px;
}

.loading {
	font-style: italic;
	font-size: 14pt;
	font-weight: 600;
}

.bsrArt, .bsrArt img, .bsrCode {
	display: inline-block;
	width: 80px;
}
.bsrArt, .bsrArt img {
	height: 80px;
}

.bsrArt, .bsrCode {
	margin-right: 10px;
}

.bsrArt img {
	border-radius: 12px;
}

.bsrMapInfo {
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	height: 86px;
}

.songTitle {
	font-size: 18pt;
	font-weight: 900;
	position: relative;
	top: 3px;
	white-space: nowrap;
}
.songArtist {
	font-weight: 600;
	position: relative;
	top: 5px;
	white-space: nowrap;
}
.mapper {
	font-weight: 600;
	font-size: 11pt;
	position: relative;
	top: 2px;
	white-space: nowrap;
}

.mapper:before {
	content: "mapped by ";
	opacity: 0.5;
}

.bsrExtraInfo {
	font-style: normal;
	font-size: 12pt;
	font-weight: 900;
	margin-top: 4px;
	line-height: 20px;
}

.bsrCode {
    background-image: linear-gradient(170deg, #333, #000);
    border-radius: 4px;
	text-align: center;
}
.bsrStats {
	display: inline-block;
}
.bsrStats span {
	margin-right: 24px;
}
.fa-thumbs-down {
	margin-left: 10px;
}
.fas {
	margin-right: 2px;
}

@keyframes omgRainbowKF {
    from { background-position: 0px 0px; }
    to { background-position: 600px 600px; }
}

.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP span,
.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP div {
	font-family: "Comic Neue";
	background-size: 600px 600px;
	background-repeat: repeat;
	background-image: linear-gradient(
		-90deg,
		#F44 0%,
		#FF0 16.67%,
		#0F0 33.3%,
		#4FF 50%,
		#4AF 66.67%,
		#F7F 83.33%,
		#F44 100%
	);
	animation-name: omgRainbowKF;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP .mapper:before {
	font-family: "Comic Neue";
	content: "mapped by ";
	background-size: 600px 600px;
	background-repeat: repeat;
	background-image: linear-gradient(
		-90deg,
		#F44 0%,
		#FF0 16.67%,
		#0F0 33.3%,
		#4FF 50%,
		#4AF 66.67%,
		#F7F 83.33%,
		#F44 100%
	);
	animation-name: omgRainbowKF;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP .bsrCode {
	animation-name: unset;
	background-size: unset;
	background-repeat: unset;
    background-image: linear-gradient(170deg, #333, #000);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
}

img.emoji {
   height: 1em;
   width: 1em;
   font-size: 1em;
   vertical-align: -0.15em;
}