body {
	font-family: "Manrope";
	font-weight: 900;
	color: #fff;
	background: #333;
	font-size: 16pt;
	overflow: hidden;
}

#wrapper {
	position: fixed;
	width: calc(var(--overlayWidth) - (var(--chatBlockPaddingHorizontal) * 2));
	display: flex;
}

#testWrapper {
	overflow: hidden;
	white-space: nowrap;
	position: fixed;
	top: 200vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#wrapper, #testWrapper {
	margin-top: var(--chatBlockPaddingVertical);
	margin-bottom: var(--chatBlockPaddingVertical);
	margin-left: var(--chatBlockPaddingHorizontal);
	margin-right: var(--chatBlockPaddingHorizontal);
}

#wrapper .chatBlock {
	width: var(--chatBlockWidth);
	transform-origin: var(--chatHistoryOriginPoint);
}

#testWrapper .chatBlock {
	display: block;
}
#wrapper .chatBlock {
	display: flex;
	flex-direction: column;
}
.bottom .chatBlock {
	margin-top: var(--chatBlockSpacing);
	margin-bottom: 0px;	
}
.top .chatBlock {
	margin-bottom: var(--chatBlockSpacing);
	margin-top: 0px;	
}
.badges, .pronouns, .message, .pfp, .flags, .displayName, .internationalName, .extraInfo {
	filter: var(--effectFilters);
	backdrop-filter: opacity(0);
}

.overallWrapper {
	border-radius: var(--chatBlockBorderRadius);
	background-color: var(--backgroundColor);
	border-color: var(--chatBlockOutlineColor);
	border-width: var(--chatBlockOutlineSize);
	border-style: var(--chatBlockOutlineStyle);
	padding-left: var(--chatBlockIndividualPaddingHorizontal);
	padding-right: var(--chatBlockIndividualPaddingHorizontal);
	padding-top: var(--chatBlockIndividualPaddingVertical);
	padding-bottom: var(--chatBlockIndividualPaddingVertical);
}

#wrapper .userInfo {
	flex: 1;
	min-width: 0;	
	position: relative;
	z-index: 2;
}

.userInfo {
	margin-bottom: var(--userInfoBottomMargin);
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--userInfoBackgroundColor);
	padding-top: var(--userInfoPaddingVertical);
	padding-bottom: var(--userInfoPaddingVertical);
	padding-left: var(--userInfoPaddingHorizontal);
	padding-right: var(--userInfoPaddingHorizontal);
	border-radius: var(--userInfoBorderRadius);
	border-color: var(--userInfoOutlineColor);
	border-width: var(--userInfoOutlineSize);
	border-style: var(--userInfoOutlineStyle);
}
.userInfo div {
	margin-right: var(--messageUserInfoElementSpacing);
	display: flex;
}
.userInfo div:last-child {
	margin-right: 0px;
}

.chatBlock:last-child .userInfo {
	display: inline-flex !important;
}
#testWrapper .chatBlock .userInfo {
	display: inline-flex !important;
}

.badgeWrap {
	width: var(--badgeSize);
	min-width: var(--badgeSize);
	max-width: var(--badgeSize);
	height: var(--badgeSize);
	min-height: var(--badgeSize);
	max-height: var(--badgeSize);
	margin-right: var(--badgeSpacing);
	background-position: center;
	background-size: contain;
	background-origin: border-box;
}

.sub_badge { border-radius: var(--subBadgeBorderRadius); }
.normal_badge {
	border-radius: var(--badgeBorderRadius);
	border-color: var(--badgeBorderColor);
	border-width: var(--badgeBorderSize);
	border-style: var(--badgeBorderStyle);
}

.badgeGradient:after {
	background-image: linear-gradient(var(--badgeGradientAngle), var(--badgeGradientColorStart) var(--badgeGradientStart), var(--badgeGradientColorEnd) var(--badgeGradientEnd));
	width: 100%;
	height: 100%;
	display: var(--badgeGradientDisplay);
	content: "";
	border-radius: var(--badgeBorderRadius);
	mix-blend-mode: var(--badgeGradientBlendMode);
}

.badgeWrap:last-child {
	margin-right: 0px;
}

.flag {
	width: var(--flagsSize);
	min-width: var(--flagsSize);
	max-width: var(--flagsSize);
	height: var(--flagsSize);
	min-height: var(--flagsSize);
	max-height: var(--flagsSize);
	background-size: cover;
	background-position: center;
	border-radius: var(--flagsBorderRadius);
	margin-right: var(--flagsSpacing);
}
.flag:last-child {
	margin-right: 0px;
}

.name {
	display: inline-block !important;
	height: 34px;
	line-height: 34px;
	font-family: var(--nameFont);
	font-weight: var(--nameFontWeight);
	font-size: var(--nameFontSize);
}

.displayName, .internationalName {
	-webkit-text-stroke: var(--nameFontWeightExtra) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: var(--nameTransform);
	letter-spacing: var(--nameLetterSpacing);
	background-color: var(--defaultNameColor);
	background-image: var(--nameBackground);
	font-style: var(--nameFontStyle);
}

.pronouns {
	font-family: var(--pronounsFont);
	font-size: var(--pronounsFontSize);
	font-weight: var(--pronounsFontWeight);
	letter-spacing: var(--pronounsLetterSpacing);
	text-transform: var(--pronounsTransform);
	-webkit-text-stroke: var(--pronounsFontWeightExtra) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: var(--pronounsColor);
	background-image: var(--pronounsGradient);
	flex: none; /* wtf */
	font-style: var(--pronounsFontStyle);
}

.emote {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0.4em 0.3em;
	backdrop-filter: opacity(0);
}
.emote img {
	opacity: 0;
	display: inline-block;
	height: 1em;
}

.message, .extraInfo {
	word-wrap: break-word;
	line-height: var(--messageLineHeight);
	color: var(--messageColor);
	font-family: var(--messageFont);
	font-weight: var(--messageFontWeight);
	font-size: var(--messageFontSize);
	letter-spacing: var(--messageLetterSpacing);
	text-transform: var(--messageTransform);
	position: relative;
	z-index: 2;
	font-style: var(--messageFontStyle);
}
.extraInfo {
	background-color: var(--eventTagsColor);
	font-family: var(--eventTagsFont);
	font-size: var(--eventTagsFontSize);
	font-weight: var(--eventTagsFontWeight);
	-webkit-text-stroke: var(--eventTagsFontWeightExtra) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: var(--eventTagsLetterSpacing);
	line-height: var(--eventTagsLineHeight);
	text-transform: var(--eventTagsTransform);
	font-style: var(--eventTagsFontStyle);
}

.actionMessage {
	font-style: italic;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

em {
	font-style: italic;
	padding-right: 4px;
}
strong {
	background-color: var(--messageColor);
	-webkit-text-stroke: var(--messageBoldAmount) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
pre {
	display: inline;
}
tt, code, pre {
	background-color: rgba(0, 0, 0, 0.33);
	font-family: monospace;
	font-size: 14pt;
	padding: 3px;
}

.pfp {
	width: var(--avatarSize);
	min-width: var(--avatarSize);
	max-width: var(--avatarSize);
	height: var(--avatarSize);
	min-height: var(--avatarSize);
	max-height: var(--avatarSize);
	margin-right: 10px;
	border-radius: var(--avatarBorderRadius);
}

.highlighted {
	filter: var(--highlightedEffect);
}

.bsrInfo {
	word-wrap: break-word;
	line-height: 26px;
	margin-top: 8px;
	white-space: nowrap;
	margin-bottom: 4px;
	filter: var(--effectFilters);
	backdrop-filter: opacity(0);
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.loading {
	font-style: italic;
	font-size: 14pt;
	font-weight: 600;
	flex-wrap: nowrap !important;
}

.bsrArt, .bsrArt img, .bsrCode {
	display: inline-block;
	width: 80px;
}
.bsrArt, .bsrArt img {
	height: 80px;
}

.bsrArt img {
	border-radius: 12px;
}

.bsrMapInfo {
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	height: 86px;
}

.songTitle {
	font-size: 18pt;
	font-weight: 900;
	position: relative;
	top: 3px;
	white-space: nowrap;
}
.songArtist {
	font-size: 14pt;
	font-weight: 600;
	position: relative;
	top: 6px;
	white-space: nowrap;
}
.mapper {
	font-weight: 500;
	font-size: 10pt;
	position: relative;
	top: 5px;
	white-space: nowrap;
}

.mapper:before {
	content: "mapped by ";
	opacity: 0.5;
}

.bsrExtraInfo {
	font-style: normal;
	font-size: 12pt;
	font-weight: 900;
	margin-top: 4px;
	line-height: 20px;
	display: flex;
}
.bsrStats {
	display: flex;
}

.bsrCode {
	background-image: linear-gradient(170deg, #333, #000);
	border-radius: 4px;
	text-align: center;
}
.fa-thumbs-down {
	margin-left: 10px;
}
.fas {
	margin-right: 2px;
}

@keyframes omgRainbowKF {
	from { background-position: 0px 0px; }
	to { background-position: 600px 600px; }
}

.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP span,
.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP div {
	font-family: "Comic Neue";
	background-size: 600px 600px;
	background-repeat: repeat;
	background-image: linear-gradient(
		-90deg,
		#F44 0%,
		#FF0 16.67%,
		#0F0 33.3%,
		#4FF 50%,
		#4AF 66.67%,
		#F7F 83.33%,
		#F44 100%
	);
	animation-name: omgRainbowKF;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP .mapper:before {
	font-family: "Comic Neue";
	content: "mapped by ";
	background-size: 600px 600px;
	background-repeat: repeat;
	background-image: linear-gradient(
		-90deg,
		#F44 0%,
		#FF0 16.67%,
		#0F0 33.3%,
		#4FF 50%,
		#4AF 66.67%,
		#F7F 83.33%,
		#F44 100%
	);
	animation-name: omgRainbowKF;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.STREAMER_CAN_YOU_PLAY_REALITY_CHECK_ITS_MY_FAVORITE_MAP .bsrCode {
	animation-name: unset;
	background-size: unset;
	background-repeat: unset;
	background-image: linear-gradient(170deg, #333, #000);
	-webkit-background-clip: initial;
	-webkit-text-fill-color: white;
}

img.emoji {
   height: 1.1em;
   width: 1.1em;
   font-size: 1.1em;
   vertical-align: text-bottom;
}

.clip {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*width: calc(100vw - calc(var(--chatBlockPadding) * 2));*/
}

.bsrMapInfo div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: clip;
	width: calc(var(--overlayWidth) - calc(var(--chatBlockPaddingHorizontal) * 2) - 96px);
}

.timestamp {
	display: inline-block;
	font-family: var(--timestampFont);
	font-size: var(--timestampFontSize);
	font-weight: var(--timestampFontWeight);
	letter-spacing: var(--timestampLetterSpacing);
	-webkit-text-stroke: var(--timestampFontWeightExtra) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: var(--timestampColor);
	background-image: var(--timestampGradient);
	margin-right: var(--timestampPadding);
	line-height: var(--messageLineHeight);
	font-variant: tabular-nums;
	font-style: var(--timestampFontStyle);
}

.left {
	left: 0px;
	text-align: left;
}

.left .userInfo {
	justify-content: flex-start;
}
.right .userInfo {
	justify-content: flex-end;
}

.right {
	right: 0px;
	text-align: right;
}

.bottom .middle_message {
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.top .middle_message {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border-radius: 0px;
	border-top: 0px;
	border-bottom: 0px;	
}

.last_message {
	margin-top: 0px;
	padding-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: var(--chatBlockBorderRadius);
	border-bottom-right-radius: var(--chatBlockBorderRadius);
	border-top: 0px;
}

.bigEmote {
	font-size: var(--bigEmoteSize);
	padding: 0px;
	display: inline-flex;
	vertical-align: unset !important;
	border-radius: var(--emoteBorderRadius);
}

.bigEmoji {
	height: 1em !important;
	width: 1em !important;
	font-size: var(--bigEmoteSize) !important;
	border-radius: var(--emoteBorderRadius);
	vertical-align: unset !important;
}

.left .bigEmote {
	margin-right: var(--bigEmoteMargin);
}
.right .bigEmote {
	margin-left: var(--bigEmoteMargin);
}

.isBigEmoteMode {
	font-size: 0pt !important;
	letter-spacing: 0px !important;
	line-height: 1em !important;
	margin-top: var(--bigEmoteMarginVertical);
	margin-bottom: var(--bigEmoteMarginVertical);
}

.left .bsrInfo, .left .bsrStats {
	flex-direction: row;
}

.right .bsrInfo, .right .bsrStats {
	flex-direction: row-reverse;
}

.left .bsrStats span {
	margin-right: 24px;
}

.right .bsrStats span {
	margin-left: 24px;
}

.left .bsrArt, .left .bsrCode {
	margin-right: 10px;
}
.right .bsrArt, .right .bsrCode {
	margin-left: 10px;
}

.left .bsrExtraInfo {
	flex-direction: row;
}
.right .bsrExtraInfo {
	flex-direction: row-reverse;
}

.bottom .chatBlock:after, .top .chatBlock:before {
	content: "";
	border-bottom-color: var(--messageSeparatorColor);
	border-bottom-width: var(--messageSeparatorWidth);
	border-bottom-style: var(--messageSeparatorStyle);
	padding-bottom: var(--messageSeparatorSpacing);
	margin-bottom: var(--messageSeparatorSpacing);
}
.bottom .chatBlock:last-child:after, .top .chatBlock:first-child:before {
	border: 0;
	padding: 0;
	margin: 0;
}

.loading .fas {
	line-height: unset !important;
}

.loadingMsg {
	opacity: 0.67;
}

.left .loadingMsg {
	margin-left: 6px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.right .loadingMsg {
	margin-right: 6px;
}

.loadingMsg strong {
	padding-right: 5px;
}

.cheermote {
	margin-right: 4px;
}

.top {
	flex-direction: column-reverse;
	top: 0px;
}

.bottom {
	flex-direction: column;
	bottom: 0px;
}

.avatarBGWrapper {
	height: calc(100% + var(--avatarsBGVerticalPadding));
	width: 100%;
	position: absolute;
	filter: var(--avatarsBGEffects);
	backdrop-filter: opacity(0);
	z-index: 1;
	top: 0;
}

.first_message .avatarBGWrapper {
	display: inline-block;
}

.left .avatarBGWrapper {
	direction: ltr;
}
.right .avatarBGWrapper {
	direction: rtl;
}

.avatarBG {
	height: 100%;
	width: 100%;
	max-height: var(--avatarsBGSize);
	max-width: var(--avatarsBGSize);
	background-size: var(--avatarsBGMagnification);
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(var(--avatarsBGBlurAmount));
	backdrop-filter: opacity(0);
	border-color: var(--avatarsBGBorderColor);
	border-width: var(--avatarsBGBorderSize);
	border-style: var(--avatarsBGBorderStyle);
	position: relative;
	top: var(--avatarsBGBorderOffset);
	margin-top: calc(-0.5 * var(--avatarsBGVerticalPadding));
}

.left .avatarBG {
	left: var(--avatarsBGBorderOffset);
	-webkit-mask-image: linear-gradient(var(--avatarsBGFadeAngle), rgba(0, 0, 0, var(--avatarsBGStartOpacity)) var(--avatarsBGStartFadeAt), rgba(0, 0, 0, var(--avatarsBGEndOpacity)) var(--avatarsBGEndFadeAt));
	border-top-left-radius: var(--avatarsBGBorderRadius);
	border-bottom-left-radius: var(--avatarsBGBorderRadius);
	margin-left: calc(-1 * var(--avatarsBGHorizontalPadding));
}
.right .avatarBG {
	right: var(--avatarsBGBorderOffset);
	-webkit-mask-image: linear-gradient(var(--avatarsBGFadeAngleNegative), rgba(0, 0, 0, var(--avatarsBGStartOpacity)) var(--avatarsBGStartFadeAt), rgba(0, 0, 0, var(--avatarsBGEndOpacity)) var(--avatarsBGEndFadeAt));
	border-top-right-radius: var(--avatarsBGBorderRadius);
	border-bottom-right-radius: var(--avatarsBGBorderRadius);
	margin-right: calc(-1 * var(--avatarsBGHorizontalPadding));
}

.effectWrapper {
	position: relative;
	z-index: 2;
}

.internationalName:before {
	margin-left: var(--internationalNameMargin);
	content: "(";
}

.internationalName {
	font-size: var(--internationalNameSize); /* use percentages */
	-webkit-text-stroke: calc(var(--nameFontWeightExtra) * var(--internationalNameWeightScaling)) transparent;
	position: relative;
	left: -6px;
}

.internationalName:after {
	content: ")";
}

#maskWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.maskEnabled {
	-webkit-mask-image: linear-gradient(var(--gradientFadeMaskAngle), #000000ff var(--gradientFadeMaskStart), #00000000 var(--gradientFadeMaskEnd));
}

.messageWrapper {
	display: flex;
	flex-direction: var(--messageBlockDirection);
	position: relative;
	background-color: var(--messageBackgroundColor);
	padding-top: var(--messagePaddingVertical);
	padding-bottom: var(--messagePaddingVertical);
	padding-left: var(--messagePaddingHorizontal);
	padding-right: var(--messagePaddingHorizontal);
	border-radius: var(--messageBorderRadius);
	border-color: var(--messageOutlineColor);
	border-width: var(--messageOutlineSize);
	border-style: var(--messageOutlineStyle);
}

.left .messageWrapper { left: var(--messageOffsetHorizontal); }
.right .messageWrapper { right: var(--messageOffsetHorizontal); }
.top .messageWrapper { top: var(--messageOffsetVertical); }
.bottom .messageWrapper { bottom: var(--messageOffsetVertical); }

.left .userInfo { left: var(--userInfoOffsetHorizontal); }
.right .userInfo { right: var(--userInfoOffsetHorizontal); }
.top .userInfo { top: var(--userInfoOffsetVertical); }
.bottom .userInfo { bottom: var(--userInfoOffsetVertical); }

.zeroWidthEmote {
	position: absolute;
	left: 0;
	padding: 0;
}

.botBadge { display: var(--displayBotBadges); }
.affiliateBadge { display: var(--displayAffiliateBadges); }
.sevenTVBadge { display: var(--display7TVBadges); }
.ffzBadge { display: var(--displayFFZBadges); }
.bttvBadge { display: var(--displayBTTVBadges); }