:root {
	--overlayShadowColor: rgba(0, 0, 0, 1);
	--overlayShadowXOffset: 0px;
	--overlayShadowYOffset: 1px;
	--overlayShadowBlurRadius: 2px;
	--originalShadowStuff: drop-shadow(var(--overlayShadowXOffset) var(--overlayShadowYOffset) var(--overlayShadowBlurRadius) var(--overlayShadowColor));
	--shadowStuff: var(--originalShadowStuff);

	--overlayOutlineSize: 3px;
	--overlayOutlineSizeNegative: calc(var(--overlayOutlineSize) * -1);
	--overlayOutlineSizeHalf: calc(var(--overlayOutlineSize) / 2);
	--overlayOutlineColor: rgba(0, 0, 0, 0.45);
	--originalOutlineStuff: drop-shadow(var(--overlayOutlineSize) 0px var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSize) var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSize) var(--overlayOutlineSize) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(0px var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(0px var(--overlayOutlineSize) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSizeNegative) 0px var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSizeNegative) var(--overlayOutlineSize) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor));
	--outlineStuff: var(--originalOutlineStuff);

	--effectFilters: var(--outlineStuff) var(--shadowStuff);

	--backgroundColor: transparent;
	--highlightBackgroundColor: rgba(255, 255, 255, 0.25);
	--highlightBorderColor: rgba(255, 255, 255, 1);

	--defaultNameColor: rgba(170, 170, 170, 1);
	--defaultNameColorSecondary: rgba(255, 255, 255, 1);
	--nameFont: "Manrope";
	--nameFontSize: 16pt;
	--nameFontWeight: 900;
	--nameFontStyle: normal;
	--nameLetterSpacing: 1px;
	--nameTransform: uppercase;
	--nameVariant: normal;
	--nameGradientAngle: 170deg;

	--messageColor: rgba(255, 255, 255, 1);
	--messageFont: "Manrope";
	--messageFontSize: 16pt;
	--messageFontWeight: 700;
	--messageLetterSpacing: 0px;
	--messageLineHeight: 28px;
	--messageUserInfoElementSpacing: 14px;

	--chatBlockPadding: 18px;
	--chatBlockIndividualPadding: 0px;
	--chatBlockBorderRadius: 0px;

	--chatBlockOutlineColor: rgba(255, 255, 255, 1);
	--chatBlockOutlineSize: 1px;
	--chatBlockOutlineStyle: solid;
	/*--chatBlockOutline: var(--chatBlockOutlineSize) var(--chatBlockOutlineStyle) var(--chatBlockOutlineColor);*/
	--chatBlockOutline: none;

	--bigEmoteSize: 48pt;

	--timingFuncLinear: cubic-bezier(0.0, 0.0, 1.0, 1.0);
	--timingFuncEase: cubic-bezier(0.25, 0.1, 0.25, 1.0);
	--timingFuncEaseIn: cubic-bezier(0.42, 0, 1.0, 1.0);
	--timingFuncEaseInSine: cubic-bezier(0.12, 0, 0.39, 0);
	--timingFuncEaseInQuad: cubic-bezier(0.11, 0, 0.5, 0);
	--timingFuncEaseInCubic: cubic-bezier(0.32, 0, 0.67, 0);
	--timingFuncEaseInQuart: cubic-bezier(0.5, 0, 0.75, 0);
	--timingFuncEaseInQuint: cubic-bezier(0.64, 0, 0.78, 0);
	--timingFuncEaseInExpo: cubic-bezier(0.7, 0, 0.84, 0);
	--timingFuncEaseInCirc: cubic-bezier(0.55, 0, 1, 0.45);
	--timingFuncEaseInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
	--timingFuncEaseOut: cubic-bezier(0, 0, 0.58, 1.0);
	--timingFuncEaseOutSine: cubic-bezier(0.61, 1, 0.88, 1);
	--timingFuncEaseOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
	--timingFuncEaseOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
	--timingFuncEaseOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
	--timingFuncEaseOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
	--timingFuncEaseOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
	--timingFuncEaseOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
	--timingFuncEaseOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
	--timingFuncEaseInOut: cubic-bezier(0.42, 0, 0.58, 1.0);
	--timingFuncEaseInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
	--timingFuncEaseInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
	--timingFuncEaseInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
	--timingFuncEaseInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
	--timingFuncEaseInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);
	--timingFuncEaseInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
	--timingFuncEaseInOutCirc: cubic-bezier(0.85, 0, 0.15, 1);
	--timingFuncEaseInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);


	--animationsInDuration: 0.5s;
	--animationsOutDuration: 0.75s;
	--animationsInName: slideInBottomKF;
	--animationsOutName: slideOutLeftKF;
	--animationsInOriginPoint: center center;
	--animationsOutOriginPoint: left center;
	--animationsInTimingFunc: var(--timingFuncEaseInOutCubic);
	--animationsOutTimingFunc: var(--timingFuncEaseInBack);

	--bsrInfoDirection: ltr;

	--avatarSize: 34px;
	--avatarBorderRadius: 10px;
}