:root {
	--overlayWidthActual: 700px;
	--overlayWidth: 100%;

	--overlayShadowColor: rgba(0, 0, 0, 1);
	--overlayShadowXOffset: 0px;
	--overlayShadowYOffset: 1px;
	--overlayShadowBlurRadius: 2px;
	--originalShadowStuff: drop-shadow(var(--overlayShadowXOffset) var(--overlayShadowYOffset) var(--overlayShadowBlurRadius) var(--overlayShadowColor));
	--shadowStuff: var(--originalShadowStuff);

	--overlayOutlineSize: 1px;
	--overlayOutlineSizeNegative: -1px;
	--overlayOutlineBlurRadius: 0px;
	--overlayOutlineColor: #000000;
	--originalOutlineStuff: drop-shadow(var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeNegative) var(--overlayOutlineBlurRadius) var(--overlayOutlineColor))
							drop-shadow(var(--overlayOutlineSize) var(--overlayOutlineSizeNegative) var(--overlayOutlineBlurRadius) var(--overlayOutlineColor))
							drop-shadow(var(--overlayOutlineSizeNegative) var(--overlayOutlineSize) var(--overlayOutlineBlurRadius) var(--overlayOutlineColor))
							drop-shadow(var(--overlayOutlineSize) var(--overlayOutlineSize) var(--overlayOutlineBlurRadius) var(--overlayOutlineColor));
	--outlineStuff: var(--originalOutlineStuff);

	--effectFilters: var(--outlineStuff) var(--shadowStuff);

	--backgroundColor: transparent;
	--highlightBackgroundColor: rgba(255, 255, 204, 1);
	--highlightBorderColor: rgba(255, 255, 255, 1);
	--highlightGlowRadius: 3px;

	--defaultNameColor: rgba(170, 170, 170, 1);
	--defaultNameColorSecondary: rgba(255, 255, 255, 1);
	--nameFont: "Manrope";
	--nameFontSize: 16pt;
	--nameFontWeight: 900;
	--nameFontStyle: normal;
	--nameLetterSpacing: 1px;
	--nameTransform: uppercase;
	--nameVariant: normal;
	--nameGradientAngle: 170deg;
	--nameFontWeightExtra: 1.2px;
	--nameBackgroundDefault: linear-gradient(var(--nameGradientAngle), var(--defaultNameColorSecondary) 0%, transparent 75%);
	--nameBackgroundNoGradientDefault: var(--defaultNameColor);
	--nameBackground: var(--nameBackgroundDefault);

	--userInfoBackgroundColor: transparent;
	--userInfoPaddingVertical: 0px;
	--userInfoPaddingHorizontal: 0px;
	--userInfoBorderRadius: 0px;
	--userInfoOutlineColor: rgba(255, 255, 255, 1);
	--userInfoOutlineSize: 0px;
	--userInfoOutlineSizeActual: 1px;
	--userInfoOutlineStyle: solid;
	--userInfoOutline: none;
	--userInfoBottomMargin: 4px;

	--messageColor: rgba(255, 255, 255, 1);
	--messageFont: "Manrope";
	--messageFontSize: 16pt;
	--messageFontWeight: 700;
	--messageLetterSpacing: 0px;
	--messageLineHeight: 30px;
	--messageUserInfoElementSpacing: 14px;
	--messageTransform: none;
	--messageBoldAmount: 1.25px;
	--messageSeparatorColor: #ffffff20;
	--messageSeparatorWidthActual: 1px;
	--messageSeparatorWidth: 0px;
	--messageSeparatorSpacingActual: 0px;
	--messageSeparatorSpacing: 0px;
	--messageSeparatorStyle: solid;
	--messageFontStyle: normal;
	--messageBackgroundColor: transparent;
	--messagePaddingVertical: 0px;
	--messagePaddingHorizontal: 0px;
	--messageBorderRadius: 0px;

	--messageOutlineColor: rgba(255, 255, 255, 1);
	--messageOutlineSize: 0px;
	--messageOutlineSizeActual: 1px;
	--messageOutlineStyle: solid;
	--messageOutline: none;

	--chatBlockPaddingVertical: 18px;
	--chatBlockPaddingHorizontal: 18px;
	--chatBlockSpacing: 20px;
	--chatBlockIndividualPaddingVertical: 0px;
	--chatBlockIndividualPaddingHorizontal: 0px;
	--chatBlockBorderRadius: 0px;
	--chatBlockWidth: -webkit-fill-available;

	--chatBlockOutlineColor: rgba(255, 255, 255, 1);
	--chatBlockOutlineSize: 0px;
	--chatBlockOutlineSizeActual: 1px;
	--chatBlockOutlineStyle: solid;
	--chatBlockOutline: none;

	--bigEmoteSize: 48pt;
	--bigEmoteMargin: 0px;
	--emoteBorderRadius: 0px;
	--bigEmoteMarginVertical: 4px;

	--timingFuncLinear: cubic-bezier(0.0, 0.0, 1.0, 1.0);
	--timingFuncEase: cubic-bezier(0.25, 0.1, 0.25, 1.0);
	--timingFuncEaseIn: cubic-bezier(0.42, 0, 1.0, 1.0);
	--timingFuncEaseInSine: cubic-bezier(0.12, 0, 0.39, 0);
	--timingFuncEaseInQuad: cubic-bezier(0.11, 0, 0.5, 0);
	--timingFuncEaseInCubic: cubic-bezier(0.32, 0, 0.67, 0);
	--timingFuncEaseInQuart: cubic-bezier(0.5, 0, 0.75, 0);
	--timingFuncEaseInQuint: cubic-bezier(0.64, 0, 0.78, 0);
	--timingFuncEaseInExpo: cubic-bezier(0.7, 0, 0.84, 0);
	--timingFuncEaseInCirc: cubic-bezier(0.55, 0, 1, 0.45);
	--timingFuncEaseInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
	--timingFuncEaseOut: cubic-bezier(0, 0, 0.58, 1.0);
	--timingFuncEaseOutSine: cubic-bezier(0.61, 1, 0.88, 1);
	--timingFuncEaseOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
	--timingFuncEaseOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
	--timingFuncEaseOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
	--timingFuncEaseOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
	--timingFuncEaseOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
	--timingFuncEaseOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
	--timingFuncEaseOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
	--timingFuncEaseInOut: cubic-bezier(0.42, 0, 0.58, 1.0);
	--timingFuncEaseInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
	--timingFuncEaseInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
	--timingFuncEaseInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
	--timingFuncEaseInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
	--timingFuncEaseInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);
	--timingFuncEaseInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
	--timingFuncEaseInOutCirc: cubic-bezier(0.85, 0, 0.15, 1);
	--timingFuncEaseInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);

	--bsrInfoDirection: ltr;

	--avatarSize: 34px;
	--avatarBorderRadius: 10px;

	--avatarsBGSize: 150px;
	--avatarsBGHorizontalPadding: 8px;
	--avatarsBGVerticalPadding: 8px;
	--avatarsBGBorderRadius: 8px;
	--avatarsBGMagnification: 125%;
	--avatarsBGStartOpacity: 1;
	--avatarsBGEndOpacity: 0;
	--avatarsBGStartFadeAt: -50%;
	--avatarsBGEndFadeAt: 50%;
	--avatarsBGFadeAngle: 110deg;
	--avatarsBGFadeAngleNegative: -110deg; /* oh for fuck's sake */
	--outlineStuffAvatarBG: drop-shadow(0px 0px 0px transparent);
	--shadowStuffAvatarBG: var(--originalShadowStuff);
	--avatarsBGEffects: var(--outlineStuffAvatarBG) var(--shadowStuffAvatarBG);
	--avatarsBGBlurAmount: 0px;
	--avatarsBGBorderColor: #ffffff20;
	--avatarsBGBorderSize: 0px;
	--avatarsBGBorderSizeActual: 1px;
	--avatarsBGBorderStyle: solid;
	--avatarsBGBorderOffset: 0px;

	--badgeBorderRadius: 4px;
	--subBadgeBorderRadius: var(--badgeBorderRadius);
	--badgeSize: 28px;
	--badgeGradientDisplay: none;
	--badgeGradientColorStart: #555555ff;
	--badgeGradientColorEnd: #000000ff;
	--badgeGradientAngle: 0deg;
	--badgeGradientStart: 0%;
	--badgeGradientEnd: 100%;
	--badgeGradientBlendMode: screen;

	--badgeBorderColor: #ffffff50;
	--badgeBorderSize: 0px;
	--badgeBorderSizeActual: 1px;
	--badgeBorderStyle: solid;
	--badgeBorder: none;

	--affiliateBadgeColor: #2d3540;
	--botBadgeColor: #555b59;

	--pronounsColor: rgba(128, 128, 128, 1);
	--pronounsColorSecondary: rgba(255, 255, 255, 1);
	--pronounsGradientAngle: 170deg;
	--pronounsGradient: linear-gradient(var(--pronounsGradientAngle), var(--pronounsColorSecondary) -20%, transparent 100%);
	--pronounsFont: "Manrope";
	--pronounsFontSize: 12pt;
	--pronounsFontWeight: 900;
	--pronounsFontWeightExtra: 0.5px;
	--pronounsLetterSpacing: 0px;
	--pronounsTransform: uppercase;
	--pronounsFontStyle: normal;

	--flagsBorderRadius: 4px;
	--flagsSize: 22px;
	--flagsSpacing: 2px;

	--timestampColor: rgba(128, 128, 128, 1);
	--timestampColorSecondary: rgba(255, 255, 255, 1);
	--timestampGradientAngle: 170deg;
	--timestampGradient: linear-gradient(var(--timestampGradientAngle), var(--timestampColorSecondary) -20%, transparent 100%);
	--timestampFont: "Manrope";
	--timestampFontSize: 12pt;
	--timestampFontWeight: 900;
	--timestampFontWeightExtra: 0.5px;
	--timestampLetterSpacing: 0px;
	--timestampPadding: 10px;
	--timestampFontStyle: normal;

	--highlightedEffect: drop-shadow(0px 0px var(--highlightGlowRadius) var(--highlightBackgroundColor));

	--chatHistoryOriginPoint: center center;

	--eventTagsColor: #FFFFFFFF;
	--eventTagsFont: "Manrope";
	--eventTagsFontSize: 14pt;
	--eventTagsFontWeight: 900;
	--eventTagsFontWeightExtra: 0.7px;
	--eventTagsLetterSpacing: -0.2px;
	--eventTagsTransform: uppercase;
	--eventTagsLineHeight: 26px;
	--eventTagsFontStyle: normal;

	--internationalNameSaturation: 33%;
	--internationalNameMargin: 7px;
	--internationalNameSize: 75%;
	--internationalNameWeightScaling: 0.5;

	--gradientFadeMaskAngle: 0deg;
	--gradientFadeMaskStart: 67%;
	--gradientFadeMaskEnd: 99%;

	--messageBlockDirection: column;

	--messageOffsetHorizontal: 0px;
	--messageOffsetVertical: 0px;
	--userInfoOffsetVertical: 0px;
	--userInfoOffsetHorizontal: 0px;

	--display7TVBadges: initial;
	--displayFFZBadges: initial;
	--displayBTTVBadges: initial;
	--displayAffiliateBadges: initial;
	--displayBotBadges: initial;
}