:root {
	--overlayShadowColor: rgba(0, 0, 0, 1);
	--overlayShadowXOffset: 0px;
	--overlayShadowYOffset: 1px;
	--overlayShadowBlurRadius: 2px;
	--originalShadowStuff: drop-shadow(var(--overlayShadowXOffset) var(--overlayShadowYOffset) var(--overlayShadowBlurRadius) var(--overlayShadowColor));
	--shadowStuff: var(--originalShadowStuff);

	--overlayOutlineSize: 3px;
	--overlayOutlineSizeNegative: calc(var(--overlayOutlineSize) * -1);
	--overlayOutlineSizeHalf: calc(var(--overlayOutlineSize) / 2);
	--overlayOutlineColor: rgba(0, 0, 0, 0.45);
	--originalOutlineStuff: drop-shadow(var(--overlayOutlineSize) 0px var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSize) var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSize) var(--overlayOutlineSize) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(0px var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(0px var(--overlayOutlineSize) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSizeNegative) 0px var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeNegative) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor))
			drop-shadow(var(--overlayOutlineSizeNegative) var(--overlayOutlineSize) var(--overlayOutlineSizeHalf) var(--overlayOutlineColor));
	--outlineStuff: var(--originalOutlineStuff);

	--effectFilters: var(--outlineStuff) var(--shadowStuff);

	--backgroundColor: transparent;
	--highlightBackgroundColor: rgba(255, 255, 255, 0.25);
	--highlightBorderColor: rgba(255, 255, 255, 1);

	--defaultNameColor: rgba(170, 170, 170, 1);
	--defaultNameColorSecondary: rgba(255, 255, 255, 1);
	--nameFont: "Manrope";
	--nameFontSize: 16pt;
	--nameFontWeight: 900;
	--nameFontStyle: normal;
	--nameLetterSpacing: 1px;
	--nameTransform: uppercase;
	--nameVariant: normal;
	--nameGradientAngle: 170deg;

	--messageColor: rgba(255, 255, 255, 1);
	--messageFont: "Manrope";
	--messageFontSize: 16pt;
	--messageFontWeight: 700;
	--messageLetterSpacing: 0px;
	--messageLineHeight: 28px;
	--messageUserInfoElementSpacing: 14px;

	--chatBlockPadding: 18px;
	--chatBlockIndividualPadding: 0px;
	--chatBlockBorderRadius: 0px;

	--chatBlockOutlineColor: rgba(255, 255, 255, 1);
	--chatBlockOutlineSize: 1px;
	--chatBlockOutlineStyle: solid;
	/*--chatBlockOutline: var(--chatBlockOutlineSize) var(--chatBlockOutlineStyle) var(--chatBlockOutlineColor);*/
	--chatBlockOutline: none;

	--bigEmoteSize: 48pt;

	--animationsInDuration: 0.5s;
	--animationsOutDuration: 0.5s;
	--animationsInName: slideInBottom_BlurKF;
	--animationsOutName: slideOutBottom_BlurKF;

	--bsrInfoDirection: ltr;

	--avatarSize: 34px;
	--avatarBorderRadius: 10px;
}