/* Manrope */

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Jost */

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Jost";
	src: url('fonts/Jost-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Inter */

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Inter";
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf');
	font-weight: 900;
}

/* Lexend */

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Lexend";
	src: url('fonts/Lexend-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Urbanist */

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Urbanist";
	src: url('fonts/Urbanist-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Glory */

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Glory";
	src: url('fonts/Glory-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Spline Sans */

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Spline Sans";
	src: url('fonts/SplineSans-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Fredoka */

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Fredoka";
	src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
	font-weight: 900;
}

/* Quicksand */

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Quicksand";
	src: url('fonts/Quicksand-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Oswald */

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Oswald";
	src: url('fonts/Oswald-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Gluten */

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Gluten";
	src: url('fonts/Gluten-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Oxanium */

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Oxanium";
	src: url('fonts/Oxanium-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Grandstander */

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Grandstander";
	src: url('fonts/Grandstander-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Comfortaa */

@font-face {
	font-family: "Comfortaa";
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Comfortaa";
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Comfortaa";
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Comfortaa";
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Comfortaa";
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Comfortaa";
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Comfortaa";
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
	font-weight: 700;
}

/* Trispace */

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Trispace";
	src: url('fonts/Trispace-VariableFont_wdth,wght.ttf');
	font-weight: 900;
}

/* Gemunu Libre */

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Gemunu Libre";
	src: url('fonts/GemunuLibre-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Georama */

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Georama";
	src: url('fonts/Georama-VariableFont_wdth,wght.ttf');
	font-weight: 900;
}

/* Akshar */

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Akshar";
	src: url('fonts/Akshar-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Jura */

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Jura";
	src: url('fonts/Jura-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Sora */

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Sora";
	src: url('fonts/Sora-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Outfit */

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Outfit";
	src: url('fonts/Outfit-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Roboto (Flex) */
/* google took down the original wtf */

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
	font-weight: 900;
}

/* Archivo */

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Archivo";
	src: url('fonts/Archivo-VariableFont_wdth,wght.ttf');
	font-weight: 900;
}

/* Overpass */

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Overpass";
	src: url('fonts/Overpass-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Exo 2 */

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Exo 2";
	src: url('fonts/Exo2-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Cabin */

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf');
	font-weight: 900;
}

/* Dosis */

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Dosis";
	src: url('fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Josefin Sans */

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Josefin Sans";
	src: url('fonts/JosefinSans-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Work Sans */

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Work Sans";
	src: url('fonts/WorkSans-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Rubik */

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Open Sans */

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Open Sans";
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
	font-weight: 900;
}

/* Montserrat */

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Montserrat";
	src: url('fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 900;
}

/* Comic Neue */

@font-face {
	font-family: "Comic Neue";
	src: url('fonts/ComicNeue-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Comic Neue";
	src: url('fonts/ComicNeue-Regular.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Comic Neue";
	src: url('fonts/ComicNeue-Bold.ttf');
	font-weight: 700;
}