@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
	animation-duration: var(--animationDurationLong);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fadeOut {
	animation-name: fadeOut;
	animation-duration: var(--animationDurationLong);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
.slideIn {
	animation-name: slideIn;
	animation-duration: var(--animationDurationMedium);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes slideOut {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		transform: translateX(30px);
	}
}
.slideOut {
	animation-name: slideOut;
	animation-duration: var(--animationDurationMedium);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes float {
	from { transform: translateY(0px); }
	to { transform: translateY(-5px); }
}

body {
	background: #333;
	color: #fff;
	font-family: "Manrope";
	overflow-x: hidden;
}

#wrapper {
	padding: var(--overlayMargin);
	display: flex;
	flex-direction: column;
}

#streamerWrap {
	font-family: var(--streamerFont);
	font-size: var(--streamerFontSize);
	font-style: var(--streamerFontItalic);
	font-weight: var(--streamerFontWeight);
	line-height: var(--streamerLineHeight);
	height: var(--streamerLineHeight);
	display: flex;
	justify-content: center;
	width: var(--videoWidth);
	overflow: clip;
	margin-bottom: var(--overlayVerticalSpacing);
}
#streamerName {
	background-color: var(--streamerColor);
	background-image: var(--streamerGradientActual);
	-webkit-text-stroke: var(--streamerAdditionalWeight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#streamerAvatar {
	border-radius: 100%;
	width: 1.4em;
	height: 1.4em;
	display: inline-flex;
	margin-right: 0.333em;
	align-self: center;
}

#videoWrap {
	/* mandated by twitch */
	min-width: 400px;
	min-height: 300px;

	width: var(--videoWidth);
	height: var(--videoHeight);
	background: #000;

	display: flex;
	align-items: center;
	align-content: center;
	overflow-y: hidden;

	box-shadow: var(--box-shadow-effects-actual);
}

#videoWrapOutline {
	width: calc(var(--videoWidth) - (var(--videoBorderSize) * 2));
	height: calc(var(--videoHeight) - (var(--videoBorderSize) * 2));

	position: absolute;
	z-index: 2;

	border: var(--videoBorderActual);
}

#videoWrap video {
	width: 100%;
	height: 100%;
}

#videoWrap, #videoWrap video, #videoWrapOutline {
	border-radius: var(--videoBorderRadius);
}

#detailsWrap {
	display: flex;
	flex-direction: column;
	width: var(--videoWidth);
	align-items: var(--detailsAlignment);
	
	margin-top: var(--overlayVerticalSpacing);
	margin-bottom: var(--overlayVerticalSpacing);
	margin-left: var(--overlayHorizontalSpacing);
	margin-right: var(--overlayHorizontalSpacing);

	color: var(--detailsColor);
}

.line {
	display: flex;
	flex-direction: row;
	align-items: center;

	filter: var(--effects);
}
#streamerTag, #streamerName, #streamerAvatar {
	filter: var(--effects);
}

#clipTitleLine {
	font-family: var(--titleFont);
	font-size: var(--titleFontSize);
	font-style: var(--titleFontItalic);
	font-weight: var(--titleFontWeight);
	line-height: var(--titleLineHeight);
	margin-top: calc(var(--overlayVerticalSpacing) / 2);
}
#clipTitle {
	background-color: var(--titleColor);
	background-image: var(--titleGradientActual);
	-webkit-text-stroke: var(--titleAdditionalWeight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#clipStreamerLine, #clipClipperLine {
	font-family: var(--detailsFont);
	font-size: var(--detailsFontSize);
	font-style: var(--detailsFontItalic);
	font-weight: var(--detailsFontWeight);
	line-height: var(--detailsLineHeight);
}

#gamePlayed:before, #clipperName:before, #clipperDate:before, #streamerTag, #streamerName:after {
	display: inline-flex;
}
#gamePlayed:before, #clipperName:before, #clipperDate:before {
	opacity: 0.67;
}
#clipStreamerLine div:before, #clipClipperLine div:before {
	font-weight: calc(var(--detailsFontWeight) / 2);
	font-size: calc(var(--detailsFontSize) / 1.15);
}
#streamerAvatar:before {
	font-weight: calc(var(--streamerFontWeight) / 2);
	font-size: calc(var(--streamerFontSize) / 1.15);
}

#gamePlayed:before {
	content: "playing";
	margin-right: 0.333em;
}
#clipperName:before {
	content: "clipped by";
	margin-right: 0.333em;
}
#clipperDate:before {
	content: "on";
	margin-left: 0.333em;
	margin-right: 0.333em;
}
#streamerTag {
	color: #fff;
	content: "Check out";
	margin-right: 0.5em;
}
#streamerName:after {
	content: "!";
	background-color: #fff;
	-webkit-text-stroke: var(--streamerAdditionalWeight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#streamerAvatarBGWrap {
	position: absolute;
	width: var(--videoWidth);
	height: var(--streamerLineHeight);
	overflow: hidden;
	z-index: -1;
	-webkit-mask-image: var(--backgroundMaskActual);
	border-bottom: 1px solid #ffffff;
}

#streamerAvatarBG {
	width: var(--backgroundSize);
	height: var(--backgroundSize);
	filter: blur(var(--backgroundBlurAmount));
	background-size: cover;
	background-image: var(--currentStreamerAvatar);
	background-position: calc((var(--videoWidth) - var(--backgroundSize)) / 2) calc((var(--streamerLineHeight) - var(--backgroundSize)) / 2);
}

.float {
	animation-name: float;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: var(--animationFloatDuration);
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;	
}

#gameCoverBGWrap {
	position: absolute;
	width: var(--videoWidth);
	height: calc(var(--streamerLineHeight) * 1.67);
	overflow: hidden;
	z-index: -1;
	-webkit-mask-image: var(--backgroundMaskInvertedActual);
	border-top: 1px solid #ffffff;
}

#gameCoverBG {
	width: var(--backgroundFooterSize);
	height: var(--backgroundFooterSize);
	filter: blur(var(--backgroundFooterBlurAmount));
	background-size: cover;
	background-image: var(--currentGameCover);
	background-position: calc((var(--videoWidth) - var(--backgroundFooterSize)) / 2) calc(var(--backgroundFooterSize) / 1.4);
}