<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.7">

	<title>Beat Saber Session History</title>

	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/Sarabun.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script type="text/javascript" src="../lib/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
	</div>

	<script defer type="text/javascript" src="js/main.js"></script>
	<script>
		window.addEventListener("load", async function() {
			await getSessions();
		});
	</script>
</body>
</html>