@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 100;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Manrope";
	src: url('fonts/Manrope-VariableFont_wght.ttf');
	font-weight: 900;
}