:root {
	--colorDark: "#000000";
	--colorLight: "#FFFFFF";
}

@keyframes slideIn {
	0% {
		transform: translateX(30px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(30px);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeIn, .fadeOut, .slideIn, .slideOut {
	animation-duration: .5s;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}

.fadeIn { animation-name: fadeIn; }
.fadeOut { animation-name: fadeOut; }
.slideIn { animation-name: slideIn; }
.slideOut { animation-name: slideOut; }

:root {
	--outline-effects-size: 1px;
	--outline-effects-size-negative: calc(var(--outline-effects-size) * -1);
	--outline-effects-size-half: calc(var(--outline-effects-size) / 2);
	--outline-effects-color: #00000073;

	--outline-effects: drop-shadow(var(--outline-effects-size) 0px var(--outline-effects-size-half) var(--outline-effects-color))
			drop-shadow(var(--outline-effects-size) var(--outline-effects-size-negative) var(--outline-effects-size-half) var(--outline-effects-color))
			drop-shadow(var(--outline-effects-size) var(--outline-effects-size) var(--outline-effects-size-half) var(--outline-effects-color))
			drop-shadow(0px var(--outline-effects-size-negative) var(--outline-effects-size-half) var(--outline-effects-color))
			drop-shadow(0px var(--outline-effects-size) var(--outline-effects-size-half) var(--outline-effects-color))
			drop-shadow(var(--outline-effects-size-negative) 0px var(--outline-effects-size-half) var(--outline-effects-color))
			drop-shadow(var(--outline-effects-size-negative) var(--outline-effects-size-negative) var(--outline-effects-size-half) var(--outline-effects-color))
			drop-shadow(var(--outline-effects-size-negative) var(--outline-effects-size) var(--outline-effects-size-half) var(--outline-effects-color));
	--outline-effects-actual: var(--outline-effects);

	--shadow-effects-offset-x: 0px;
	--shadow-effects-offset-y: 1px;
	--shadow-effects-blur-radius: 2px;
	--shadow-effects-color: #000000FF;

	--shadow-effects: drop-shadow(var(--shadow-effects-offset-x) var(--shadow-effects-offset-y) var(--shadow-effects-blur-radius) var(--shadow-effects-color));
	--shadow-effects-actual: var(--shadow-effects);

	--effects: var(--outline-effects-actual) var(--shadow-effects-actual);

	--wrapper-margin: 12px;
	--element-spacing: 12px;

	--title-font-family: "Manrope";
	--title-font-size: 19pt;
	--title-font-weight: 900;
	--title-transform: none;
	--title-color: #fff;
	--title-line-height: 28px;
	--title-additional-weight: 0.2px;
	--title-font-style: normal;

	--artist-font-family: "Manrope";
	--artist-font-size: 12pt;
	--artist-font-weight: 900;
	--artist-transform: none;
	--artist-line-height: 24px;
	--artist-additional-weight: 0px;
	--artist-font-style: normal;
	--artist-color-static: #aaa;
	--artist-color: var(--colorLight);
	--artist-gradient-angle: 170deg;
	--artist-gradient-color: #FFF;
	--artist-gradient: linear-gradient(var(--artist-gradient-angle), var(--artist-gradient-color) 20%, transparent 100%);

	--scannable-width: 224px;

	--box-shadow-effects-offset-x: 0px;
	--box-shadow-effects-offset-y: 8px;
	--box-shadow-effects-blur-radius: 9px;
	--box-shadow-effects-inset: -5px;
	--box-shadow-effects-color: #000000FF;

	--box-shadow-effects: var(--box-shadow-effects-offset-x) var(--box-shadow-effects-offset-y) var(--box-shadow-effects-blur-radius) var(--box-shadow-effects-inset) var(--box-shadow-effects-color);
	--box-shadow-effects-actual: var(--box-shadow-effects);

	--art-size: 52px;
	--art-outline-size: 2px;

	--show-scannable: flex;
	--show-art: block;
	--show-art-outline: block;

	--scannable-border-radius: 8px;
	--art-border-radius: 6px;

	--scannable-gradient-angle: 170deg;
	--scannable-gradient-color-start: #FFF;
	--scannable-gradient-percent-start: 10%;
	--scannable-gradient-color-end: #333;
	--scannable-gradient-percent-end: 80%;
	--scannable-gradient: linear-gradient(var(--scannable-gradient-angle), var(--scannable-gradient-color-start) var(--scannable-gradient-percent-start), var(--scannable-gradient-color-end) var(--scannable-gradient-percent-end));
	--scannable-gradient-actual: var(--scannable-gradient);
	--scannable-gradient-blend-mode: soft-light;
}

body {
	background: #222;
	overflow: hidden;
}

#wrapper {
	display: flex;
	flex-direction: row;
	width: calc(100vw - (var(--wrapper-margin) * 2));
	margin: var(--wrapper-margin);
}
#detailsWrapper {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	filter: var(--effects);
	width: 100%;
}

#artOutline, #artBG {
	position: absolute;
	display: var(--show-art-outline);
}
#art {
	position: relative;
	display: block;
}

#artWrapper, #artOutline, #artBG, #artDoppleganger {
	width: calc(var(--art-size) + (var(--art-outline-size) * 2));
	height: calc(var(--art-size) + (var(--art-outline-size) * 2));
}
#artDoppleganger {
	height: 0px !important;
}

#artWrapper {
	display: var(--show-art);
}

#artOutline, #artBG {
	border-radius: var(--art-border-radius);
}

#artOutline {
	z-index: 3;
	filter: contrast(50%) brightness(1.67);
	-webkit-mask-image: conic-gradient(black 0deg var(--currentProgressAngle), transparent var(--currentProgressAngle));
}

#artBG {
	z-index: 2;
	filter: contrast(120%) brightness(0.5);
}

#art {
	top: var(--art-outline-size);
	left: var(--art-outline-size);
	width: var(--art-size);
	height: var(--art-size);
	border-radius: var(--art-border-radius);
	z-index: 4;
}

#titleString, #artistString {
	line-height: var(--details-line-height);
	padding-bottom: 2px;
}

#title, #artist {
	width: 100%;
	white-space: nowrap;
	overflow-x: clip;
	flex-grow: 1;
	display: inline-flex;
}

#title {
	align-items: flex-start;
	line-height: var(--title-line-height);
}
#artist {
	align-items: flex-end;
	line-height: var(--artist-line-height);
}

#titleString {
	font-family: var(--title-font-family);
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	background-color: var(--title-color);
	text-transform: var(--title-transform);
	font-style: var(--title-font-style);
	-webkit-text-stroke: var(--title-additional-weight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.artistStringGradient {
	background-image: var(--artist-gradient);
}

#artistString {
	font-family: var(--artist-font-family);
	font-size: var(--artist-font-size);
	font-weight: var(--artist-font-weight);
	text-transform: var(--artist-transform);
	font-style: var(--artist-font-style);
	background-color: var(--artist-color);
	-webkit-text-stroke: var(--artist-additional-weight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.js-marquee {
	background-color: var(--title-color);
	-webkit-text-stroke: var(--title-additional-weight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

#scannableWrapper {
	display: var(--show-scannable);
	width: var(--scannable-width);
	min-width: var(--scannable-width);
	align-items: center;
}

#scannableActual {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: var(--scannable-border-radius);
	background-image: var(--workingAroundFunnyChromiumBugLolXD);
	background-size: contain;
	background-repeat: no-repeat;
}

#scannableWrapper, #artWrapper {
	margin-right: var(--element-spacing);
}

.showBoxShadow {
	box-shadow: var(--box-shadow-effects-actual);
}

#scannableActual:after {
	background-image: var(--scannable-gradient-actual);
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	border-radius: var(--scannable-border-radius);
	mix-blend-mode: var(--scannable-gradient-blend-mode);
}

#scannable {
	position: fixed;
	top: -1000px;
	left: -1000px;
}