@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		transform: translateX(30px);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeIn, .fadeOut, .slideIn, .slideOut, .fadeInLong {
	animation-duration: var(--animation-duration);
	animation-direction: forwards;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}

.fadeIn { animation-name: fadeIn; }
.fadeOut { animation-name: fadeOut; }
.slideIn { animation-name: slideIn; }
.slideOut { animation-name: slideOut; }
.fadeInLong {
	animation-name: fadeIn;
	animation-duration: var(--fadeInDurationLong);
}

@keyframes scroll {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(var(--cssScrollAmount));
	}
}

@keyframes clippingWorkaround {
	0% {
		overflow-x: initial;
	}
	0.001% {
		overflow-x: clip;
	}
	100% {
		overflow-x: clip;
	}
}

.cssScroll, .cssScrollClippingWorkaround {
	animation-delay: var(--cssScrollDelay);
	animation-duration: var(--cssScrollDuration);
	animation-direction: forwards;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
.cssScroll { animation-name: scroll; }
.cssScrollClippingWorkaround { animation-name: clippingWorkaround; }

body {
	background: #333;
	color: #fff;
	font-family: "Manrope";
	transition: var(--desaturateFadeOutDuration);
}

#diffWrap, #codeWrap, #timeWrap, #title, #artist, .mapper, #mapperContainer:before, .basePack, #hitMissCell, #accCell {
	filter:	var(--effects);
}
#diffWrap, #title, #artist, .mapper, .basePack {
	font-variant: none;
}

#wrapper {
	width: calc(100% - var(--overlayMarginHorizontal) * 2);
	height: var(--overlayHeight);
	padding-left: var(--overlayMarginHorizontal);
	padding-right: var(--overlayMarginHorizontal);
	padding-top: var(--overlayMarginVertical);
	padding-bottom: var(--wrapper-padding-bottom);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cell {
	display: flex;
	flex-direction: column;
	padding-left: calc(var(--elementSpacing) / 2);
	padding-right: calc(var(--elementSpacing) / 2);
	font-size: var(--primaryFontSize);
	align-self: center;
}

#miscInfoCell {
	width: var(--miscInfoWidth);
	min-width: var(--miscInfoWidth);
	max-width: var(--miscInfoWidth);
	font-weight: var(--miscInfoFontWeight);
	text-align: var(--miscInfoAlignment);
	font-size: var(--miscInfoFontSize);
	font-variant: tabular-nums;
	flex-direction: var(--miscInfoVerticalAlignment);
	color: var(--miscInfoColor);
	font-family: var(--miscInfoFontFamily);
	font-style: var(--miscInfoFontStyle);
	line-height: var(--miscInfoLineHeight);
}

#codeWrap div:first-child, #duration {
	background-image: linear-gradient(170deg, #FFF 20%, var(--secondaryColor) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: var(--miscInfoLineHeight);
}
#codeWrap div:first-child {
	font-size: calc(var(--miscInfoFontSize) / 1.2);
	margin-right: 0.3em;
}
#duration {
	font-size: calc(var(--miscInfoFontSize) / 1.5);
}

#diffIcon {
	height: calc(var(--miscInfoLineHeight) - 2px);
	width: calc(var(--miscInfoLineHeight) - 2px);
	margin-right: 0.3em;
	background-image: linear-gradient(170deg, #FFF 20%, var(--currentDiffColor) 100%);
	background-repeat: no-repeat;
	-webkit-mask-image: var(--diffIconURL);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

#duration, #time, #combo, #acc, #hitValue, #missValue {
	font-variant: tabular-nums;
}
#miscInfoCell, #metadataCell, #hitMissCell, #accCell {
	white-space: nowrap;
	overflow-x: clip;
}
#diffWrap, #codeWrap, #hitCell, #FCCell, #missCell, #comboWrap, #accWrap {
	padding-top: var(--verticalSpacing);
	padding-bottom: var(--verticalSpacing);
}

#diffWrap, #codeWrap {
	line-height: var(--miscInfoLineHeight);
	align-items: baseline;
	justify-content: center;
	display: flex;
}

#bsrCode, #diff {
	line-height: var(--miscInfoLineHeight);
	align-self: center;
}

#timeWrap {
	font-size: var(--timeFontSize);
}

#duration:before {
	content: " / ";
	margin-left: 0.1em;
	margin-right: 0.1em;
}

#metadataCell {
	flex-grow: 1;
	line-height: var(--metadataLineHeight);
	position: relative;
	top: var(--fixWeirdMetadataAlignmentIssue); /* wtf */
	align-self: stretch;
	flex-direction: var(--metadataVerticalAlignment);
}
#title, #secondary {
	width: 100%;
	white-space: nowrap;
	flex-grow: 1;
	display: inline-flex;
	align-items: center;
}
#title {
	font-family: var(--titleFontFamily);
	font-size: var(--titleFontSize);
	font-weight: var(--titleFontWeight);
	text-transform: var(--titleTransform);
	background-color: var(--titleColor);
	font-style: var(--titleFontStyle);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: var(--titleAdditionalWeight) transparent;
	justify-content: var(--titleAlignment);
	overflow-x: clip;
}
#titleString {
	padding-bottom: 2px;
}
#secondary {
	font-family: var(--secondaryFontFamily);
	font-size: var(--secondaryFontSize);
	font-weight: var(--secondaryFontWeight);
	text-transform: var(--secondaryTransform);
	font-style: var(--secondaryFontStyle);
	position: relative;
	justify-content: var(--metadataAlignment);
}

#hitMissCell {
	min-width: var(--hitMissWidth);
	font-weight: var(--hitMissFontWeight);
	flex-direction: var(--hitMissVerticalAlignment);
	font-family: var(--hitMissFontFamily);
	font-style: var(--hitMissFontStyle);
	font-size: var(--hitMissFontSize);
	text-align: var(--hitMissAlignment);
	line-height: var(--hitMissLineHeight);
}
#missCell {
	display: none;
}

#hitCell span, #FCCell span, #missCell span {
	background-color: var(--hitMissColor);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: var(--hitMissFontAdditionalWeight) transparent;	
}

#accCell {
	min-width: var(--accWidth);
	text-align: var(--accAlignment);
	font-weight: var(--primaryFontWeight);
	overflow-x: visible;
	flex-direction: var(--accVerticalAlignment);
	line-height: var(--accLineHeight);
}
#accWrap {
	font-family: var(--accFontFamily);
	font-size: var(--accFontSize);
	font-weight: var(--accFontWeight);
	font-style: var(--accFontStyle);
	letter-spacing: var(--accCharacterSpacing);
	background-color: var(--accColor);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: var(--accFontAdditionalWeight) transparent;
	padding-bottom: 0px;
	/* there's some weird vertical mis-alignment i literally cannot think of a solution for so i'm just doing it the hard way */
	position: relative;
	top: -1px;
}
#accPerc {
	font-size: calc(var(--accFontSize) / 1.67);
	margin-left: 0.1em;
}
#acc {
	display: inline-block;
	line-height: calc(var(--accLineHeight) + 3px);
}

#comboWrap {
	font-size: var(--comboFontSize);
	height: var(--accLineHeight);
	line-height: 0px;
}
#combo {
	font-family: var(--comboFontFamily);
	font-style: var(--comboFontStyle);
	font-weight: var(--comboFontWeight);
	background-color: var(--comboColor);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: var(--comboFontAdditionalWeight) transparent;	
}

#artOutline, #artBG {
	position: absolute;
	display: var(--show-art-outline);
	overflow: hidden;
}
#art {
	position: relative;
	display: block;
	left: var(--art-outline-size);
}

#artWrapper, #artOutline, #artBG {
	width: calc(var(--art-size) + (var(--art-outline-size) * 2));
	height: calc(var(--art-size) + (var(--art-outline-size) * 2));
}

#artWrapper {
	display: var(--show-art);
}

#artOutline, #artBG {
	border-radius: var(--art-border-radius);
}

#artOutline {
	z-index: 3;
	filter: contrast(50%) brightness(var(--art-outline-brightness));
	-webkit-mask-image: conic-gradient(black 0deg var(--currentProgressAngle), transparent var(--currentProgressAngle));
}

.artContainer {
	background-image: var(--art-url);
	background-size: 100%;
	background-position: center;
	width: 125%;
	height: 125%;
	position: relative;
	top: -12.5%;
	left: -12.5%;
	filter: blur(4px);
}

#artBG {
	z-index: 2;
	filter: contrast(120%) brightness(0.75);
}

#art {
	top: var(--art-outline-size);
	width: var(--art-size);
	height: var(--art-size);
	border-radius: var(--art-border-radius);
	z-index: 4;
}
.showBoxShadow {
	box-shadow: var(--box-shadow-effects-actual);
}

#bgWrapper {
	width: 100%;
	height: var(--background-art-height);
	position: absolute;
	top: var(--background-art-offset);
	left: 0;
	z-index: -1;
}

#artBGWrap {
	display: var(--show-background-art);
	position: absolute;
	width: 100%;
	height: var(--background-art-height);
	z-index: -1;
	overflow: hidden;
	opacity: var(--background-art-opacity);
	-webkit-mask-image: var(--background-art-mask-actual);
}

#artBGWrap .artContainer {
	height: var(--background-art-size);
	width: calc(100vw + var(--background-art-blur-amount) * 16);
	filter: blur(var(--background-art-blur-amount));
	background-size: cover;
	top: calc(var(--background-art-size) * -1 / 2);
	left: calc(var(--background-art-blur-amount) * 8 * -1);
}

.fa-link, .fa-star, .fa-check, .fa-times, .fa-clock {
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-clock { background-image: linear-gradient(170deg, #FFF 20%, var(--secondaryColor) 100%); }
.fa-star { background-image: linear-gradient(170deg, #FFF 20%, var(--FCIconColor) 100%); }
.fa-check { background-image: linear-gradient(170deg, #FFF 20%, var(--hitIconColor) 100%); -webkit-text-stroke: 1.67px transparent; }
.fa-times { background-image: linear-gradient(170deg, #FFF 20%, var(--missIconColor) 100%); -webkit-text-stroke: 1.67px transparent; }
.fa-link { background-image: linear-gradient(170deg, #FFF 20%, #868C8F 100%); -webkit-text-stroke: 0.5px transparent; }

#artist, .mapper, .basePack {
	display: inline-flex;
	background-image: var(--secondaryGradientActual);
	-webkit-text-stroke: var(--secondaryAdditionalWeight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-items: baseline;
}
.mapper:last-child, #artist {
	padding-right: 4px;
}
#mapperContainer, .basePack {
	height: var(--metadataLineHeight); /* wtf */
	display: flex;
	align-items: baseline;
}
#mapperContainer:before, .showComma:after, .basePack:before {
	display: inline-flex;
	background-color: var(--secondaryColor);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: calc(var(--primaryFontWeight) / 2);
	font-size: calc(var(--primaryFontSize) / 1.15);
	line-height: var(--metadataLineHeight);
}
#mapperContainer:before {
	content: "mapped by ";
	margin-right: 0.5em;
}
.showComma:after {
	content: ", ";
	margin-left: 0.167em;
	margin-right: 0.333em;
}
.basePack:before {
	content: "from ";
	margin-left: 0.333em;
	margin-right: 0.5em;
}

.mapperAvatar {
	border-radius: 100%;
	width: 1.4em;
	height: 1.4em;
	display: inline-flex;
	margin-right: 0.333em;
	align-self: center;
}

.js-marquee {
	background-color: #fff;
	-webkit-text-stroke: var(--titleAdditionalWeight) transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 2px;
	position: relative;
	top: 2px;
}

.pause {
	filter: grayscale(var(--desaturateAmount));
	transition: var(--desaturateFadeInDuration);
}

#artDoppleganger {
	height: 0px;
	position: fixed;
	top: -100vh;
}

.fa-fw {
	min-width: 1.3em;
}

/* uncomment after OBS updates CEF to a recent chrome version
:nth-child(1 of div.cell) {
	padding-left: 0px;
}
.cell:last-child {
	padding-right: 0px;
}
*/