:root {
	--currentProgressAngle: 0deg;
	--currentHealthAngle: 135deg;

	--colorExpertPlus: #A695FF;
	--colorExpert: #FF95A6;
	--colorHard: #FFB74D;
	--colorNormal: #00EEFF;
	--colorEasy: #81C784;

	--currentDiffColor: var(--colorHard);

	--diffIconURL: url("icons/Standard.svg");

	--colorDark: #000000;
	--colorLight: #A695FF;

	--overlayHeight: 56px;
	--overlayMarginVertical: 12px;
	--overlayMarginHorizontal: 12px;

	--elementSpacing: 12px;
	--verticalSpacing: 2px;

	--primaryFontSize: 12pt;
	--primaryFontWeight: 900;

	--miscInfoWidth: 120px;
	--miscInfoFontSize: 14pt;
	--miscInfoVerticalAlignment: column;
	--miscInfoColor: #FFFFFFFF;
	--miscInfoFontFamily: "Manrope";
	--miscInfoFontStyle: normal;
	--miscInfoAlignment: center;
	--miscInfoFontWeight: 900;
	--miscInfoLineHeight: 22px;

	--timeFontSize: 12pt;

	--hitMissFontFamily: "Manrope";
	--hitMissFontStyle: normal;
	--hitMissFontWeight: 900;
	--hitMissFontSize: 12pt;
	--hitMissWidth: 80px;
	--hitMissVerticalAlignment: column;
	--hitMissColor: #FFFFFFFF;
	--hitIconColor: #33AA55FF;
	--missIconColor: #DD1133FF;
	--FCIconColor: #DDAA00FF;
	--hitMissAlignment: left;
	--hitMissAlignmentDirection: ltr;
	--hitMissFontAdditionalWeight: 0px;
	--hitMissLineHeight: 22px;
	
	--accColor: #FFFFFFFF;
	--accFontFamily: "Manrope";
	--accFontStyle: normal;
	--accFontAdditionalWeight: 0px;
	--accWidth: 120px;
	--accFontSize: 27pt;
	--accCharacterSpacing: -1px;
	--accFontWeight: 900;
	--accVerticalAlignment: column;
	--accAlignment: center;
	--accLineHeight: 22px;
	--accVerticalOffset: -1px;

	--comboColor: #FFFFFFFF;
	--comboFontFamily: "Manrope";
	--comboFontStyle: normal;
	--comboFontSize: 12pt;
	--comboFontWeight: 900;
	--comboFontAdditionalWeight: 0px;
	--comboAlignmentDirection: ltr;
	--comboVerticalAlignment: start;

	--fcAccColor: #FFFFFFFF;
	--fcAccFontFamily: "Manrope";
	--fcAccFontStyle: normal;
	--fcAccFontSize: 12pt;
	--fcAccFontWeight: 900;
	--fcAccFontAdditionalWeight: 0px;

	--metadataLineHeight: 24px;
	--fixWeirdMetadataAlignmentIssue: 1px;
	--metadataVerticalAlignment: column;
	--metadataAlignment: start;
	--metadataLineHeight: 22px;

	--titleFontSize: 19pt;
	--titleFontWeight: 900;
	--titleAdditionalWeight: 0.2px;
	--titleFontFamily: "Manrope";
	--titleTransform: none;
	--titleColor: #FFFFFFFF;
	--titleFontStyle: normal;
	--titleAlignment: var(--metadataAlignment);

	--secondaryFontFamily: "Manrope";
	--secondaryAdditionalWeight: 0px;
	--secondaryTransform: none;
	--secondaryFontStyle: normal;
	--secondaryColorStatic: "#AAAAAAFF";
	--secondaryColor: var(--colorLight);
	--secondaryFontSize: 12pt;
	--secondaryFontWeight: 700;
	--secondaryGradientColor: "#FFFFFF";
	--secondaryGradientAngle: 170deg;
	--secondaryGradient: linear-gradient(var(--secondaryGradientAngle), var(--secondaryGradientColor) 20%, var(--secondaryColor) 100%);
	--secondaryGradientActual: var(--secondaryGradient);

	--art-size: 52px;
	--art-outline-size: 2px;
	--art-outline-brightness: 155%;
	--art-url: url('./placeholder.png');
	--show-art: block;
	--show-art-outline: block;
	--art-border-radius: 4px;

	--background-art-height: 80px;
	--background-art-mask-width: 75%;
	--background-art-mask-height: 105%;
	--background-art-start-at: 25%;
	--background-art-end-at: 100%;
	--background-art-blur-amount: 12px;
	--background-art-horizontal-offset: -33%;
	--background-art-vertical-offset: -12.5%;
	--background-art-opacity: 75%;
	--show-background-art: none;
	--background-art-size: 900px;
	--background-art-mask-side: 0%;
	--background-art-mask: -webkit-radial-gradient(var(--background-art-mask-side) 0%, var(--background-art-mask-width) var(--background-art-mask-height), rgba(0, 0, 0, 1) var(--background-art-start-at), rgba(0, 0, 0, 0) var(--background-art-end-at));
	--background-art-mask-actual: var(--background-art-mask);
	--background-art-offset: 0px;

	--wrapper-padding-bottom: calc(var(--overlayMarginVertical) * 4);

	--box-shadow-effects-offset-x: 0px;
	--box-shadow-effects-offset-y: 8px;
	--box-shadow-effects-blur-radius: 9px;
	--box-shadow-effects-inset: -5px;
	--box-shadow-effects-color: #000000FF;

	--box-shadow-effects: var(--box-shadow-effects-offset-x) var(--box-shadow-effects-offset-y) var(--box-shadow-effects-blur-radius) var(--box-shadow-effects-inset) var(--box-shadow-effects-color);
	--box-shadow-effects-actual: var(--box-shadow-effects);

	--animation-duration: 0.5s;
	--fadeInDurationLong: 5s;

	--shadowStuff: url(#shadowEffect);
	--overlayShadowColor: #000000;
	--outlineStuff: url(#outlineEffect);
	--overlayOutlineColor: #000000;

	--effects: var(--outlineStuff) var(--shadowStuff);

	--desaturateAmount: 100%;
	--desaturateFadeInDuration: 2s;
	--desaturateFadeOutDuration: 0.5s;

	--cssScrollAmount: 0px;
	--cssScrollDelay: 7s;
	--cssScrollDuration: 1s;

	--ppFontFamily: "Manrope";
	--ppFontStyle: normal;
	--ppFontWeight: 900;
	--ppFontSize: 12pt;
	--ppWidth: 100px;
	--ppVerticalAlignment: column;
	--ppColor: #FFFFFFFF;
	--ppAlignment: left;
	--ppAlignmentDirection: ltr;
	--ppFontAdditionalWeight: 0px;
	--ppLineHeight: 22px;

	--handsLeftColor: #ffffff;
	--handsRightColor: #ffffff;
	--handsFontFamily: "Manrope";
	--handsFontStyle: normal;
	--handsFontSize: 12pt;
	--handsFontWeight: 900;
	--handsFontAdditionalWeight: 0px;
	--handsWidth: 90px;
	--handsAlignment: center;
	--handsFontWeight: 900;
	--handsLineHeight: 20px;
	--handsFlashDuration: 0.1s;

	--qrSize: 52px;
	--qrPadding: 2px;
	--qrBorderRadius: 4px;
	--qrFilters: invert(75%);
	--qrOpacity: 100%;
	--show-qr: block;
	--qrBGColorStatic: #bbbbbb;
	--qrGradientAngle: 315deg;
	--qrGradientColor: #ffffff80;
	--qrGradient: linear-gradient(var(--qrGradientAngle), var(--qrGradientColor) 0%, transparent 100%);
	--qrGradientActual: var(--qrGradient);
	--qrBorderColor: #ffffff40;
	--qrBorderSize: 1px;
	--qrBorderStyle: solid;
	--qrBorder: var(--qrBorderSize) var(--qrBorderStyle) var(--qrBorderColor);
	--qrBorderActual: 0px;

	--artFilters: saturate(75%) contrast(75%) brightness(133%);

	--healthColorForeground: var(--healthColorForegroundReflected);
	--healthColorBackground: var(--healthColorBackgroundReflected);
	--healthColorForegroundStatic: #ffffff;
	--healthColorBackgroundStatic: #666666;
	--healthColorForegroundReflected: var(--colorLight);
	--healthColorForegroundReflected: var(--colorDark);
}